In [1]:
from scipy import stats
import math
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [17]:
LA1 = pd.read_csv("Anon Week 1 Feedback - LA.csv")
LA1 #make sure it shows

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 15:55:12,3,4
1,6/23/2016 16:14:04,4,4
2,6/24/2016 0:18:42,4,4
3,6/24/2016 6:59:42,4,4
4,6/24/2016 9:40:16,4,5
5,6/23/2016 22:07:29,5,4
6,6/24/2016 9:34:14,5,3

In [13]:
LA1 = pd.read_csv("Anon Week 1 Feedback - LA.csv")
NY1 = pd.read_csv("Anon Week 1 Feedback - NY.csv")
SF1 = pd.read_csv("Anon Week 1 Feedback - SF.csv")
SG1 = pd.read_csv("Anon Week 1 Feedback - Singapore.csv")
SV1 = pd.read_csv("Anon Week 1 Feedback - SV.csv")
LA2 = pd.read_csv("Anon Week 2 Feedback - LA.csv")
NY2 = pd.read_csv("Anon Week 2 Feedback - NY.csv")
SF2 = pd.read_csv("Anon Week 2 Feedback - SF.csv")
SG2 = pd.read_csv("Anon Week 2 Feedback - SG.csv")
SV2 = pd.read_csv("Anon Week 2 Feedback - SV.csv")
LA3 = pd.read_csv("Anon Week 3 Feedback - LA.csv")
NY3 = pd.read_csv("Anon Week 3 Feedback - NY.csv")
SF3 = pd.read_csv("Anon Week 3 Feedback - SF.csv")
SG3 = pd.read_csv("Anon Week 3 Feedback - SG.csv")
SV3 = pd.read_csv("Anon Week 3 Feedback - SV.csv")
LA4 = pd.read_csv("Anon Week 4 Feedback - LA.csv")
NY4 = pd.read_csv("Anon Week 4 Feedback - NY.csv")
SF4 = pd.read_csv("Anon Week 4 Feedback - SF.csv")
SG4 = pd.read_csv("Anon Week 4 Feedback - SG.csv")
SV4 = pd.read_csv("Anon Week 4 Feedback - SV.csv")
HK1 = pd.read_csv("Anon Week 5 Feedback - HK.csv")
LA5 = pd.read_csv("Anon Week 5 Feedback - LA.csv")
NY5 = pd.read_csv("Anon Week 5 Feedback - NY.csv")
SF5 = pd.read_csv("Anon Week 5 Feedback - SF.csv")
SG5 = pd.read_csv("Anon Week 5 Feedback - SG.csv")
SV5 = pd.read_csv("Anon Week 5 Feedback - SV.csv")
HK2 = pd.read_csv("Anon Week 6 Feedback - HK.csv")
LA6 = pd.read_csv("Anon Week 6 Feedback - LA.csv")
NY6 = pd.read_csv("Anon Week 6 Feedback - NY.csv")
SF6 = pd.read_csv("Anon Week 6 Feedback - SF.csv")
SG6 = pd.read_csv("Anon Week 6 Feedback - SG.csv")
SV6 = pd.read_csv("Anon Week 6 Feedback - SV.csv")
Taipei1 = pd.read_csv("Anon Week 6 Feedback - Taipei.csv")
Tokyo1 = pd.read_csv("Anon Week 6 Feedback - Tokyo.csv")
LA7 = pd.read_csv("Anon Week 7 Feedback - LA.csv")
NY7 = pd.read_csv("Anon Week 7 Feedback - NY.csv")
SF7 = pd.read_csv("Anon Week 7 Feedback - SF.csv")
SV7 = pd.read_csv("Anon Week 7 Feedback - SV.csv")
Taipei2 = pd.read_csv("Anon Week 7 Feedback - Taipei.csv")
Weak8 = pd.read_csv("Week 8 Feedback (2016, incomplete) - results.csv")

In [20]:
LA1

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 15:55:12,3,4
1,6/23/2016 16:14:04,4,4
2,6/24/2016 0:18:42,4,4
3,6/24/2016 6:59:42,4,4
4,6/24/2016 9:40:16,4,5
5,6/23/2016 22:07:29,5,4
6,6/24/2016 9:34:14,5,3

In [21]:
NY1

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,Games,6/24/2016 7:03:34,3,5
1,Games,6/24/2016 7:10:22,3,3
2,Apps,6/24/2016 7:03:41,3,3
3,Intro,6/24/2016 7:04:59,4,3
4,Intro,6/24/2016 7:07:02,4,4
5,Intro,6/24/2016 7:08:41,4,4
6,Intro,6/24/2016 7:09:30,4,4
7,Games,6/24/2016 7:01:03,4,4
8,Games,6/24/2016 7:02:43,4,4
9,Games,6/24/2016 7:03:48,4,3
10,Games,6/24/2016 7:06:04,4,3
11,Games,6/24/2016 7:06:24,4,4
12,Apps,6/24/2016 7:01:19,4,4
13,Apps,6/24/2016 7:01:29,4,4
14,Apps,6/24/2016 7:02:20,4,4
15,Apps,6/24/2016 7:03:24,4,3
16,Apps,6/24/2016 7:03:25,4,4
17,Apps,6/24/2016 7:03:58,4,2
18,Apps,6/24/2016 7:06:59,4,3
19,Apps,6/24/2016 7:07:06,4,4
20,Apps,6/24/2016 7:08:37,4,4
21,Apps,6/24/2016 7:08:51,4,3
22,Intro,6/24/2016 7:01:55,5,3
23,Intro,6/24/2016 7:03:41,5,3
24,Intro,6/24/2016 7:06:21,5,4
25,Intro,6/24/2016 7:07:00,5,4
26,Games,6/24/2016 7:04:34,5,3
27,Games,6/24/2016 7:08:15,5,3
28,Games,6/24/2016 7:12:49,5,4
29,Apps,6/24/2016 7:03:41,5,3
30,Apps,6/24/2016 7:03:58,5,4
31,Apps,6/24/2016 7:04:09,5,3
32,Apps,6/24/2016 7:04:11,5,3
33,Apps,6/24/2016 7:05:51,5,4
34,Apps,6/24/2016 7:06:58,5,4
35,Apps,6/24/2016 7:07:26,5,3
36,Apps,6/24/2016 7:08:43,5,3
37,Apps,6/24/2016 7:18:32,5,4
38,Apps,6/24/2016 8:22:55,5,3

In [22]:
SF1

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,Apps,6/24/2016 14:02:56,3,2
1,Apps,6/23/2016 14:48:47,3,3
2,Apps,6/24/2016 9:50:50,3,4
3,Apps,6/24/2016 13:21:09,3,5
4,Apps,6/23/2016 13:21:46,4,2
5,Apps,6/24/2016 13:58:52,4,2
6,Apps,6/24/2016 14:12:41,4,2
7,Apps,6/23/2016 13:19:38,4,3
8,Apps,6/24/2016 9:49:30,4,3
9,Apps,6/24/2016 9:53:41,4,3
10,Apps,6/24/2016 9:54:45,4,3
11,Apps,6/24/2016 11:37:05,4,3
12,Apps,6/24/2016 11:40:59,4,3
13,Apps,6/24/2016 11:46:04,4,3
14,Apps,6/24/2016 13:07:03,4,3
15,Apps,6/24/2016 13:11:15,4,3
16,Apps,6/24/2016 13:20:57,4,3
17,Apps,6/24/2016 13:27:16,4,3
18,Apps,6/24/2016 13:33:49,4,3
19,Apps,6/24/2016 13:37:25,4,3
20,Apps,6/24/2016 13:38:57,4,3
21,Apps,6/23/2016 16:11:39,4,4
22,Apps,6/24/2016 9:51:03,4,4
23,Apps,6/24/2016 13:58:11,4,4
24,Apps,6/24/2016 14:07:33,4,4
25,Apps,6/24/2016 15:34:30,4,4
26,Apps,6/24/2016 13:16:51,4,5
27,Apps,6/24/2016 14:05:35,4,5
28,Apps,6/25/2016 20:09:34,4,2
29,Apps,6/24/2016 13:32:30,5,2
...,...,...,...,...
63,Games,6/24/2016 13:35:43,5,3
64,Games,6/24/2016 13:36:49,5,3
65,Games,6/24/2016 14:11:08,5,3
66,Games,6/24/2016 13:35:31,5,4
67,Games,6/24/2016 13:45:54,5,4
68,Intro,6/27/2016 15:01:42,3,3
69,Intro,6/24/2016 11:41:34,4,3
70,Intro,6/24/2016 11:47:36,4,3
71,Intro,6/24/2016 13:36:03,4,3
72,Intro,6/24/2016 13:42:02,4,3
73,Intro,6/24/2016 13:45:04,4,3
74,Intro,6/24/2016 13:47:15,4,3
75,Intro,6/24/2016 11:42:30,4,4
76,Intro,6/24/2016 12:58:35,4,4
77,Intro,6/26/2016 22:45:58,4,4
78,Intro,6/24/2016 11:41:47,5,2
79,Intro,6/24/2016 11:41:42,5,3
80,Intro,6/24/2016 11:53:29,5,3
81,Intro,6/24/2016 13:33:35,5,3
82,Intro,6/24/2016 13:56:06,5,3
83,Intro,6/24/2016 16:19:53,5,3
84,Intro,6/24/2016 11:53:20,5,4
85,Intro,6/24/2016 14:21:25,5,4
86,Intro,6/24/2016 13:20:34,5,5
87,Intro,6/24/2016 13:41:56,5,5
88,Intro,6/26/2016 23:32:51,5,3
89,VR,6/29/2016 22:39:27,3,3
90,VR,6/24/2016 13:30:31,5,3
91,VR,6/24/2016 14:41:17,5,3
92,VR,6/24/2016 17:29:38,5,3

In [23]:
SG1

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/23/2016 22:24:53,2,3
1,6/27/2016 4:03:03,2,3
2,6/23/2016 22:13:04,3,3
3,6/23/2016 22:09:23,4,4
4,6/23/2016 22:11:39,4,4
5,6/23/2016 22:11:44,4,4
6,6/23/2016 22:13:25,4,3
7,6/23/2016 22:15:33,4,3
8,6/23/2016 22:41:02,4,4
9,6/23/2016 23:56:36,4,3
10,6/25/2016 22:17:48,4,3
11,6/23/2016 22:13:09,5,5

In [24]:
SV1

,Unnamed: 0,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,6/24/2016 13:32:01,Games,2,4
1,6/24/2016 13:48:09,Apps,3,4
2,6/24/2016 13:49:23,Apps,3,3
3,6/24/2016 13:53:25,Apps,3,5
4,6/24/2016 13:55:19,Apps,3,3
5,6/24/2016 13:41:53,Games,3,3
6,6/24/2016 13:46:23,Apps,4,4
7,6/24/2016 13:46:42,Apps,4,3
8,6/24/2016 13:47:24,Apps,4,3
9,6/24/2016 13:47:25,Apps,4,4
10,6/24/2016 13:47:36,Apps,4,3
11,6/24/2016 13:48:00,Apps,4,4
12,6/24/2016 13:48:29,Apps,4,4
13,6/24/2016 13:48:48,Apps,4,3
14,6/24/2016 13:49:35,Apps,4,4
15,6/24/2016 13:50:37,Apps,4,3
16,6/24/2016 13:51:11,Apps,4,4
17,6/24/2016 13:51:13,Apps,4,4
18,6/24/2016 13:52:06,Apps,4,3
19,6/24/2016 13:52:21,Apps,4,3
20,6/24/2016 13:52:50,Apps,4,5
21,6/24/2016 13:53:03,Apps,4,3
22,6/24/2016 13:55:00,Apps,4,3
23,6/24/2016 13:59:24,Apps,4,3
24,6/24/2016 13:28:35,Games,4,4
25,6/24/2016 13:31:45,Games,4,4
26,6/24/2016 13:32:49,Games,4,4
27,6/24/2016 13:34:57,Games,4,3
28,6/24/2016 13:39:47,Games,4,4
29,6/24/2016 13:45:39,Games,4,3
...,...,...,...,...
32,6/24/2016 14:12:35,Games,4,4
33,6/24/2016 13:44:44,Intro,4,4
34,6/24/2016 13:45:54,Intro,4,3
35,6/24/2016 13:49:54,Intro,4,4
36,6/24/2016 13:50:04,Intro,4,3
37,6/24/2016 13:50:19,Intro,4,4
38,6/24/2016 13:51:46,Intro,4,3
39,6/24/2016 13:53:22,Intro,4,3
40,6/24/2016 13:55:06,Intro,4,3
41,6/24/2016 13:47:09,Apps,5,3
42,6/24/2016 13:47:20,Apps,5,3
43,6/24/2016 13:47:25,Apps,5,3
44,6/24/2016 13:49:23,Apps,5,3
45,6/24/2016 13:50:25,Apps,5,3
46,6/24/2016 13:50:34,Apps,5,3
47,6/24/2016 13:50:54,Apps,5,4
48,6/24/2016 13:51:20,Apps,5,4
49,6/24/2016 13:53:34,Apps,5,3
50,6/24/2016 13:54:13,Apps,5,4
51,6/24/2016 13:54:38,Apps,5,4
52,6/24/2016 13:30:55,Games,5,4
53,6/24/2016 13:33:00,Games,5,2
54,6/24/2016 13:34:13,Games,5,3
55,6/24/2016 14:05:25,Games,5,4
56,6/24/2016 13:44:05,Intro,5,3
57,6/24/2016 13:45:50,Intro,5,2
58,6/24/2016 13:47:01,Intro,5,3
59,6/24/2016 13:49:01,Intro,5,3
60,6/24/2016 13:49:44,Intro,5,3
61,6/24/2016 13:50:23,Intro,5,3

In [25]:
LA2

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,6/30/2016 14:09:14,4,2
1,6/30/2016 22:50:08,3,3
2,7/1/2016 9:34:16,4,4
3,7/1/2016 10:42:17,4,3
4,7/1/2016 11:25:53,4,3
5,7/1/2016 11:57:11,5,3
6,7/1/2016 11:58:37,5,3

In [26]:
NY2

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/1/2016 6:41:31,Apps,3,2
1,7/1/2016 9:27:32,Apps,3,4
2,7/1/2016 6:46:34,Games,3,5
3,7/1/2016 6:47:56,Games,3,3
4,7/1/2016 6:33:45,Apps,4,3
5,7/1/2016 6:35:15,Apps,4,4
6,7/1/2016 6:36:41,Apps,4,3
7,7/1/2016 6:41:43,Apps,4,3
8,7/1/2016 7:00:39,Apps,4,2
9,7/1/2016 8:58:54,Apps,4,4
10,7/1/2016 10:32:25,Apps,4,3
11,7/1/2016 6:30:49,Games,4,4
12,7/1/2016 6:43:54,Games,4,4
13,7/1/2016 7:02:22,Games,4,4
14,7/1/2016 6:27:37,Intro,4,3
15,7/1/2016 6:31:09,Intro,4,3
16,7/1/2016 6:31:31,Intro,4,4
17,7/1/2016 6:46:33,Intro,4,3
18,7/1/2016 6:27:51,Apps,5,3
19,7/1/2016 6:30:01,Apps,5,3
20,7/1/2016 6:30:05,Apps,5,3
21,7/1/2016 6:33:55,Apps,5,4
22,7/1/2016 6:36:10,Apps,5,3
23,7/1/2016 6:41:54,Apps,5,4
24,7/1/2016 6:27:48,Games,5,4
25,7/1/2016 6:31:02,Intro,5,3
26,7/1/2016 6:31:12,Intro,5,3
27,7/1/2016 6:36:15,Intro,5,3

In [27]:
SF2

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Apps,7/1/2016 16:35:14,2,3
1,Apps,7/1/2016 16:10:55,3,2
2,Apps,7/1/2016 17:00:26,3,3
3,Apps,7/3/2016 14:53:37,3,3
4,Apps,7/1/2016 15:35:19,4,2
5,Apps,7/1/2016 15:51:23,4,2
6,Apps,7/1/2016 16:07:02,4,5
7,Apps,7/1/2016 16:07:26,4,3
8,Apps,7/1/2016 16:08:19,4,4
9,Apps,7/1/2016 16:12:30,4,4
10,Apps,7/1/2016 16:19:32,4,3
11,Apps,7/1/2016 16:21:07,4,5
12,Apps,7/1/2016 16:41:10,4,3
13,Apps,7/1/2016 17:06:05,4,3
14,Apps,7/1/2016 17:18:27,4,3
15,Apps,7/1/2016 19:06:08,4,2
16,Apps,7/2/2016 0:32:56,4,3
17,Apps,7/1/2016 16:05:40,5,3
18,Apps,7/1/2016 16:07:13,5,2
19,Apps,7/1/2016 16:07:24,5,3
20,Apps,7/1/2016 16:07:58,5,3
21,Apps,7/1/2016 16:07:58,5,4
22,Apps,7/1/2016 16:08:49,5,3
23,Apps,7/1/2016 16:10:20,5,3
24,Apps,7/1/2016 16:10:46,5,2
25,Apps,7/1/2016 16:12:17,5,3
26,Apps,7/1/2016 16:19:33,5,4
27,Apps,7/1/2016 16:22:03,5,3
28,Games,7/1/2016 16:10:34,4,4
29,Games,7/1/2016 16:23:13,4,5
...,...,...,...,...
32,Games,7/1/2016 16:15:41,5,3
33,Games,7/1/2016 16:16:13,5,3
34,Games,7/1/2016 16:17:34,5,3
35,Games,7/1/2016 16:18:02,5,3
36,Games,7/1/2016 16:18:02,5,3
37,Intro,7/1/2016 15:40:51,3,3
38,Intro,7/1/2016 15:38:22,4,2
39,Intro,7/1/2016 15:40:24,4,3
40,Intro,7/1/2016 15:40:28,4,3
41,Intro,7/1/2016 15:42:15,4,3
42,Intro,7/1/2016 15:49:06,4,4
43,Intro,7/1/2016 15:50:59,4,4
44,Intro,7/1/2016 16:20:36,4,4
45,Intro,7/1/2016 17:13:25,4,4
46,Intro,7/5/2016 9:48:32,4,3
47,Intro,7/5/2016 16:07:37,4,4
48,Intro,7/5/2016 16:10:40,4,3
49,Intro,7/5/2016 16:11:11,4,3
50,Intro,7/1/2016 16:24:01,5,4
51,Intro,7/4/2016 18:31:39,5,3
52,Intro,7/5/2016 9:39:22,5,3
53,Intro,7/5/2016 10:15:27,5,3
54,Intro,7/5/2016 16:09:01,5,3
55,VR,7/2/2016 12:45:15,1,3
56,VR,7/2/2016 12:49:55,2,3
57,VR,7/5/2016 12:00:21,2,3
58,VR,7/1/2016 15:35:33,5,3
59,VR,7/2/2016 21:55:49,5,3
60,VR,7/5/2016 11:30:35,5,3
61,VR,7/5/2016 18:24:11,5,3

In [28]:
SG2

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/1/2016 5:41:15,4,3
1,7/1/2016 8:52:52,3,3
2,7/2/2016 7:49:54,3,5
3,7/3/2016 19:14:57,3,3
4,7/3/2016 19:21:48,4,4
5,7/3/2016 19:27:27,4,3
6,7/3/2016 20:00:26,3,3
7,7/4/2016 3:03:20,3,3

In [29]:
SV2

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/1/2016 13:27:56,Apps,3,4
1,7/1/2016 13:29:33,Apps,3,5
2,7/1/2016 13:29:43,Apps,3,3
3,7/1/2016 13:30:28,Apps,3,4
4,7/1/2016 13:34:11,Apps,3,3
5,7/1/2016 13:35:20,Apps,3,3
6,7/1/2016 16:35:14,Apps,3,3
7,7/1/2016 17:01:13,Apps,3,4
8,7/2/2016 9:50:36,Apps,3,3
9,7/1/2016 10:36:57,Games,3,3
10,7/1/2016 10:41:44,Games,3,5
11,7/1/2016 10:47:58,Games,3,3
12,7/1/2016 10:56:51,Games,3,3
13,7/4/2016 23:02:16,Intro,3,4
14,7/1/2016 13:27:10,Apps,4,3
15,7/1/2016 13:28:59,Apps,4,3
16,7/1/2016 13:29:07,Apps,4,3
17,7/1/2016 13:29:40,Apps,4,4
18,7/1/2016 13:30:05,Apps,4,4
19,7/1/2016 13:30:53,Apps,4,3
20,7/1/2016 13:31:04,Apps,4,4
21,7/1/2016 13:39:46,Apps,4,3
22,7/1/2016 13:41:30,Apps,4,4
23,7/1/2016 13:49:17,Apps,4,3
24,7/1/2016 15:59:22,Apps,4,3
25,7/1/2016 15:59:54,Apps,4,3
26,7/1/2016 16:02:57,Apps,4,3
27,7/1/2016 16:30:11,Apps,4,4
28,7/1/2016 16:32:24,Apps,4,4
29,7/1/2016 17:51:29,Apps,4,4
30,7/1/2016 9:46:04,Games,4,4
31,7/1/2016 9:47:30,Games,4,2
32,7/1/2016 10:41:18,Games,4,3
33,7/1/2016 10:41:34,Games,4,2
34,7/1/2016 10:45:47,Games,4,3
35,7/1/2016 13:12:22,Intro,4,3
36,7/1/2016 13:19:07,Intro,4,3
37,7/1/2016 13:25:54,Intro,4,3
38,7/1/2016 13:28:33,Intro,4,4
39,7/1/2016 13:29:01,Intro,4,4
40,7/1/2016 13:33:15,Intro,4,3
41,7/1/2016 13:33:28,Intro,4,3
42,7/1/2016 13:29:47,Apps,5,3
43,7/1/2016 13:30:07,Apps,5,3
44,7/1/2016 13:32:18,Apps,5,4
45,7/1/2016 16:01:17,Apps,5,3
46,7/1/2016 16:02:10,Apps,5,4
47,7/1/2016 16:04:18,Apps,5,3
48,7/1/2016 16:44:38,Apps,5,3
49,7/1/2016 9:41:30,Games,5,4
50,7/1/2016 10:43:14,Games,5,2
51,7/1/2016 10:47:06,Games,5,3
52,7/1/2016 10:47:57,Games,5,4
53,7/1/2016 13:25:32,Intro,5,2
54,7/1/2016 13:26:00,Intro,5,5
55,7/1/2016 13:28:10,Intro,5,2

In [30]:
LA3

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/8/2016 10:31:27,4,2
1,7/8/2016 13:45:52,4,4
2,7/8/2016 13:47:42,4,3
3,7/8/2016 13:47:59,4,3
4,7/8/2016 14:12:24,4,3
5,7/8/2016 14:13:39,5,4

In [31]:
NY3

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/8/2016 6:21:11,Apps,4,3
1,7/8/2016 6:21:29,Apps,5,3
2,7/8/2016 6:21:35,Intro,4,3
3,7/8/2016 6:21:46,Apps,5,3
4,7/8/2016 6:22:10,Apps,4,2
5,7/8/2016 6:22:35,Games,4,4
6,7/8/2016 6:22:50,Intro,4,4
7,7/8/2016 6:23:09,Apps,5,3
8,7/8/2016 6:23:28,Games,4,4
9,7/8/2016 6:23:49,Intro,4,4
10,7/8/2016 6:23:50,Games,4,4
11,7/8/2016 6:24:25,Apps,4,4
12,7/8/2016 6:26:03,Apps,4,3
13,7/8/2016 6:26:30,Games,4,3
14,7/8/2016 6:26:40,Apps,5,4
15,7/8/2016 6:26:49,Apps,4,3
16,7/8/2016 6:27:01,Games,4,4
17,7/8/2016 6:27:14,Games,5,4
18,7/8/2016 6:27:31,Intro,4,4
19,7/8/2016 6:27:49,Apps,4,4
20,7/8/2016 6:28:49,Games,5,3
21,7/8/2016 6:28:56,Intro,3,4
22,7/8/2016 6:29:05,Apps,5,3
23,7/8/2016 6:33:10,Apps,5,3
24,7/8/2016 6:36:23,Intro,4,4
25,7/8/2016 6:36:36,Games,5,3
26,7/8/2016 6:38:24,Games,5,3
27,7/8/2016 12:14:54,Apps,4,3

In [32]:
SF3

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Apps,7/8/2016 15:56:20,3,2
1,Apps,7/8/2016 16:02:55,5,3
2,Apps,7/8/2016 16:19:51,3,3
3,Apps,7/8/2016 16:34:12,1,3
4,Apps,7/8/2016 16:39:27,5,2
5,Apps,7/8/2016 16:46:21,5,5
6,Apps,7/8/2016 17:33:28,3,5
7,Apps,7/9/2016 14:23:38,5,3
8,Apps,7/10/2016 20:55:08,5,3
9,Games,7/8/2016 15:58:04,5,3
10,Games,7/8/2016 16:08:03,5,4
11,Intro,7/8/2016 15:55:12,5,3
12,Intro,7/8/2016 15:56:10,4,3
13,Intro,7/8/2016 15:58:45,4,3
14,Intro,7/8/2016 16:40:17,4,4
15,Intro,7/8/2016 18:34:39,5,3
16,Intro,7/9/2016 8:14:45,5,3
17,VR,7/8/2016 16:23:15,5,3
18,VR,7/8/2016 16:27:30,4,4
19,VR,7/8/2016 17:18:49,1,5
20,VR,7/8/2016 19:14:34,4,4
21,Intro,7/11/2016 12:10:26,3,4
22,Intro,7/11/2016 12:39:56,4,4

In [33]:
SG3

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/8/2016 7:36:11,4,3
1,7/8/2016 22:05:05,5,3

In [34]:
SV3

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/8/2016 12:52:08,Games,5,2
1,7/9/2016 15:22:45,Apps,5,3
2,7/8/2016 21:26:01,Games,4,3
3,7/8/2016 13:52:01,Apps,4,3
4,7/8/2016 14:00:28,Apps,4,4
5,7/8/2016 14:42:40,Apps,5,3
6,7/8/2016 14:03:46,Apps,4,4
7,7/8/2016 16:40:10,Apps,3,4
8,7/8/2016 13:58:12,Apps,4,4
9,7/8/2016 13:53:19,Apps,3,4
10,7/8/2016 15:59:30,Apps,3,2
11,7/8/2016 16:11:32,Apps,5,4
12,7/8/2016 12:49:05,Games,5,5
13,7/8/2016 12:49:16,Games,4,3
14,7/8/2016 12:47:42,Games,5,3
15,7/8/2016 12:43:44,Intro,5,3
16,7/8/2016 13:55:51,Apps,4,3
17,7/8/2016 14:02:54,Games,5,3
18,7/8/2016 14:29:22,Games,5,3
19,7/9/2016 17:05:33,Games,5,2
20,7/8/2016 16:55:21,Apps,3,3
21,7/8/2016 16:08:13,Games,3,3
22,7/8/2016 13:56:39,Apps,4,3
23,7/8/2016 14:03:35,Apps,4,2
24,7/8/2016 13:51:14,Games,4,5
25,7/8/2016 12:41:10,Intro,4,4
26,7/8/2016 12:41:13,Intro,4,4
27,7/8/2016 12:41:51,Intro,4,3
28,7/8/2016 12:43:35,Intro,4,3
29,7/8/2016 12:45:11,Intro,4,3
30,7/8/2016 12:47:39,Intro,4,3
31,7/8/2016 13:01:58,Intro,4,4
32,7/10/2016 23:44:41,Games,4,4
33,NaN,Average:,#REF!,#REF!
34,7/8/2016 16:41:06,Apps,5,3
35,7/8/2016 13:07:39,Games,5,3
36,7/8/2016 12:45:02,Intro,5,3

In [35]:
LA4

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/15/2016 13:20:35,5,3
1,7/15/2016 13:22:22,5,3
2,7/15/2016 14:35:15,5,3
3,7/15/2016 15:05:10,5,4
4,7/15/2016 15:12:36,3,3
5,7/15/2016 16:59:37,4,3
6,7/15/2016 17:10:52,4,3
7,7/15/2016 19:32:26,4,3

In [36]:
NY4

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/15/2016 6:28:26,Apps,5,3
1,7/15/2016 6:29:53,Apps,5,3
2,7/15/2016 6:30:09,Apps,4,3
3,7/15/2016 6:30:24,Apps,4,3
4,7/15/2016 6:31:29,Games,4,4
5,7/15/2016 6:31:36,Intro,4,4
6,7/15/2016 6:32:19,Apps,4,4
7,7/15/2016 6:36:55,Apps,5,3
8,7/15/2016 6:37:43,Apps,4,5
9,7/15/2016 6:57:30,Apps,5,3
10,7/15/2016 7:03:28,Apps,4,4
11,7/15/2016 7:30:38,Games,4,4
12,7/15/2016 7:37:15,Apps,5,3
13,7/15/2016 7:47:54,Games,4,3
14,7/15/2016 10:11:32,Apps,4,3
15,7/15/2016 10:18:52,Apps,4,3

In [37]:
SF4

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Apps,7/15/2016 15:26:38,5,3
1,Apps,7/15/2016 15:31:37,4,3
2,Apps,7/15/2016 15:32:59,4,4
3,Apps,7/15/2016 16:18:00,3,4
4,Apps,7/15/2016 16:19:09,4,4
5,Apps,7/15/2016 16:21:25,3,4
6,Apps,7/15/2016 17:34:39,4,3
7,Apps,7/15/2016 20:20:33,5,3
8,Apps,7/15/2016 20:39:49,4,3
9,Apps,7/16/2016 12:46:10,4,3
10,Apps,7/17/2016 16:27:57,5,2
11,Games,7/15/2016 15:30:54,4,3
12,Games,7/15/2016 15:54:54,4,3
13,Games,7/15/2016 19:08:37,5,4
14,Games,7/16/2016 9:18:45,5,5
15,Games,7/17/2016 17:05:09,5,3
16,Intro,7/14/2016 14:05:15,5,4
17,Intro,7/14/2016 14:06:20,3,4
18,Intro,7/14/2016 15:04:21,4,4
19,Intro,7/14/2016 15:47:33,3,5
20,Intro,7/15/2016 15:15:37,4,4
21,Intro,7/15/2016 16:03:37,4,3
22,Intro,7/15/2016 16:05:04,3,3
23,Intro,7/15/2016 16:20:07,4,3
24,Intro,7/16/2016 13:12:50,5,3
25,Intro,7/17/2016 21:45:33,4,4
26,Intro,7/19/2016 11:46:56,5,3
27,VR,7/15/2016 17:02:43,5,3
28,VR,7/16/2016 18:46:18,4,3
29,VR,7/18/2016 8:27:48,3,4
30,VR,7/18/2016 8:35:24,3,4

In [38]:
SG4

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/15/2016 2:45:00,4,3
1,7/15/2016 2:45:11,4,4
2,7/15/2016 2:48:37,3,3
3,7/15/2016 2:53:18,4,3
4,7/15/2016 2:56:09,3,4
5,7/15/2016 4:37:33,4,3
6,7/15/2016 19:59:23,4,3
7,7/15/2016 20:46:14,3,4
8,7/17/2016 19:06:22,4,3

In [39]:
SV4

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/15/2016 13:30:19,Apps,2,1
1,7/15/2016 13:31:54,Apps,3,3
2,7/15/2016 13:35:36,Apps,4,4
3,7/15/2016 13:58:34,Apps,4,3
4,7/15/2016 14:01:42,Apps,5,3
5,7/15/2016 14:09:14,Apps,4,3
6,7/15/2016 14:10:40,Apps,4,3
7,7/15/2016 14:15:40,Apps,4,3
8,7/15/2016 14:26:18,Apps,4,2
9,7/15/2016 15:54:39,Apps,4,4
10,7/15/2016 15:54:51,Apps,3,3
11,7/15/2016 15:55:54,Apps,4,4
12,7/15/2016 15:55:56,Apps,5,3
13,7/15/2016 15:56:10,Apps,4,3
14,7/15/2016 15:56:18,Apps,5,3
15,7/15/2016 15:57:37,Apps,3,4
16,7/15/2016 15:57:50,Apps,4,3
17,7/15/2016 15:58:36,Apps,4,4
18,7/15/2016 15:58:47,Apps,4,4
19,7/15/2016 16:03:01,Apps,4,4
20,7/15/2016 16:06:23,Apps,5,3
21,7/15/2016 16:21:10,Apps,5,4
22,7/15/2016 16:23:07,Apps,5,3
23,7/15/2016 16:55:20,Apps,4,4
24,7/15/2016 17:11:41,Apps,5,1
25,7/17/2016 9:52:10,Apps,5,3
26,7/18/2016 10:35:56,Apps,4,3
27,7/15/2016 13:56:01,Games,5,2
28,7/15/2016 13:56:03,Games,5,3
29,7/15/2016 13:58:40,Games,4,3
30,7/15/2016 14:00:09,Games,4,4
31,7/15/2016 14:00:41,Games,4,4
32,7/15/2016 15:51:03,Games,5,5
33,7/15/2016 15:57:04,Games,5,3
34,7/15/2016 15:58:21,Games,3,3
35,7/15/2016 14:03:03,Intro,5,4

In [40]:
HK1

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well are the tutorials paced?
0,7/21/2016 21:57:59,4,3
1,7/21/2016 21:59:37,5,3
2,7/21/2016 22:01:53,5,3

In [41]:
LA5

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/22/2016 16:15:37,Games,3,2
1,7/22/2016 16:16:07,Intro,4,3
2,7/22/2016 16:16:20,Intro,5,3
3,7/22/2016 16:17:04,Games,4,3
4,7/22/2016 16:17:09,Intro,4,3
5,7/22/2016 16:18:23,Games,4,3
6,7/22/2016 16:18:45,Intro,5,3
7,7/22/2016 16:19:58,Games,4,4
8,7/22/2016 16:20:25,Games,5,4
9,7/22/2016 16:20:30,Intro,5,3
10,7/22/2016 16:23:12,Games,4,3
11,7/22/2016 16:23:19,Games,4,3

In [42]:
NY5

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/22/2016 13:29:33,Apps,5,5
1,7/22/2016 13:35:20,Apps,5,3
2,7/22/2016 13:36:39,Apps,4,3
3,7/22/2016 13:37:15,Apps,4,3
4,7/22/2016 13:40:21,Apps,5,3
5,7/22/2016 13:44:52,Apps,4,4
6,7/22/2016 13:50:50,Games,3,5
7,7/22/2016 13:50:50,Apps,4,4
8,7/22/2016 13:51:22,Apps,5,4
9,7/22/2016 13:51:35,Games,4,3
10,7/22/2016 13:51:36,Apps,4,3
11,7/22/2016 13:51:44,Games,4,4
12,7/22/2016 13:52:05,Intro,4,3
13,7/22/2016 13:52:19,Apps,4,3
14,7/22/2016 13:52:41,Games,5,3
15,7/22/2016 13:53:19,Apps,4,3
16,7/22/2016 13:53:31,Games,5,3
17,7/22/2016 13:53:56,Apps,4,3
18,7/22/2016 13:54:46,Games,5,3
19,7/22/2016 13:54:52,Apps,5,3
20,7/22/2016 13:57:13,Games,4,3

In [43]:
SF5

,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Apps,3,3
1,Apps,4,3
2,Apps,4,3
3,Apps,4,4
4,Apps,3,3
5,Apps,5,3
6,Apps,3,2
7,Apps,5,3
8,Apps,1,3
9,Apps,4,3
10,Apps,5,3
11,Apps,4,4
12,Apps,3,4
13,Games,4,3
14,Games,5,3
15,Games,1,5
16,Games,5,3
17,Games,4,3
18,Games,5,3
19,Intro,5,2
20,Intro,4,3
21,Intro,3,5
22,Intro,5,3
23,Intro,5,4
24,Intro,5,3
25,Intro,5,3
26,Intro,5,3
27,Intro,5,2
28,Intro,5,3
29,Intro,5,3
30,Intro,4,3
31,Intro,5,3
32,Intro,5,3
33,Intro,4,4
34,Intro,5,3
35,Intro,5,3
36,VR,5,4
37,VR,5,4
38,VR,4,4
39,VR,5,3
40,Intro,3,3
41,Intro,3,3

In [44]:
SG5

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/22/2016 1:30:17,4,3
1,7/22/2016 1:36:59,4,3
2,7/22/2016 1:42:08,4,4
3,7/22/2016 1:49:13,4,3
4,7/22/2016 1:50:35,4,4
5,7/22/2016 3:08:20,4,3
6,7/22/2016 19:26:57,4,3
7,7/22/2016 22:37:46,3,3
8,7/23/2016 18:59:21,4,3
9,7/23/2016 23:28:39,4,3
10,7/24/2016 11:16:24,2,2

In [45]:
SV5

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/22/2016 12:52:43,Apps,4,3
1,7/22/2016 12:53:47,Apps,5,3
2,7/23/2016 14:14:16,Apps,3,3
3,7/22/2016 14:37:17,Apps,2,3
4,7/22/2016 12:49:36,Games,4,3
5,7/22/2016 12:50:23,Games,4,3
6,7/22/2016 12:53:36,Apps,5,3
7,7/22/2016 13:11:42,Apps,3,3
8,7/22/2016 14:03:30,Apps,5,3
9,7/22/2016 14:25:23,Apps,4,4
10,7/22/2016 14:54:14,Apps,4,3
11,7/22/2016 14:26:04,Apps,5,3
12,7/22/2016 12:45:30,Intro,4,4
13,7/22/2016 14:25:54,Apps,5,3
14,7/22/2016 12:47:59,Apps,4,5
15,7/22/2016 16:21:04,Apps,2,2
16,7/22/2016 14:25:46,Apps,4,3
17,7/22/2016 15:53:14,Apps,5,4
18,7/22/2016 18:00:51,Apps,3,4
19,7/22/2016 12:51:51,Apps,4,4
20,7/22/2016 14:26:06,Apps,4,3
21,7/22/2016 14:27:03,Apps,4,3
22,7/22/2016 14:28:15,Apps,3,4
23,7/22/2016 12:43:02,Games,5,3
24,7/22/2016 12:46:29,Games,5,3
25,7/22/2016 12:50:31,Games,4,5
26,7/22/2016 14:26:59,Games,4,3
27,7/22/2016 14:27:45,Intro,4,3
28,7/22/2016 12:45:12,Intro,4,3
29,7/22/2016 13:00:34,Intro,5,3
30,7/22/2016 14:40:12,Intro,4,3
31,7/22/2016 12:44:15,Intro,4,3
32,7/22/2016 12:45:16,Intro,5,3
33,7/22/2016 12:49:41,Intro,4,4
34,7/22/2016 12:52:37,Intro,4,2
35,7/22/2016 12:52:51,Intro,5,3
36,7/22/2016 15:24:21,Games,3,5
37,7/22/2016 15:54:08,Games,5,2
38,7/22/2016 15:24:25,Games,3,3
39,7/22/2016 12:45:22,Games,5,3
40,7/22/2016 14:04:51,Games,5,3

In [46]:
HK2

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/29/2016 0:19:08,5,3
1,7/29/2016 0:22:41,4,3
2,7/29/2016 0:23:17,5,3

In [47]:
LA6

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/31/2016 8:43:57,Games,5,3
1,7/31/2016 11:28:09,Intro,5,3
2,7/31/2016 13:22:31,Games,3,1
3,8/1/2016 1:39:51,Games,1,3
4,8/1/2016 9:40:14,Intro,5,3
5,8/1/2016 9:40:14,Intro,5,3
6,8/1/2016 10:03:22,Games,5,3
7,8/1/2016 10:04:06,Games,4,3
8,8/1/2016 10:06:45,Intro,4,4
9,8/1/2016 11:22:56,Games,4,4

In [48]:
NY6

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/29/2016 6:54:22,Apps,2,2
1,7/29/2016 6:55:40,Apps,4,3
2,7/29/2016 7:26:56,Apps,4,4
3,7/29/2016 9:46:08,Apps,5,3
4,7/29/2016 11:17:08,Games,5,3
5,7/29/2016 13:11:59,Intro,4,3
6,7/29/2016 13:13:36,Apps,3,3
7,7/29/2016 13:14:07,Apps,5,3
8,7/29/2016 13:14:32,Games,3,3
9,7/29/2016 13:15:14,Apps,4,3
10,7/29/2016 13:17:10,Intro,5,4
11,7/29/2016 13:17:26,Intro,4,3
12,7/29/2016 13:17:34,Apps,5,3
13,7/29/2016 13:17:36,Apps,2,1
14,7/29/2016 13:17:47,Intro,4,3
15,7/29/2016 13:17:56,Apps,4,3
16,7/29/2016 13:19:10,Intro,5,3
17,7/29/2016 13:19:53,Games,4,3
18,7/29/2016 13:21:00,Apps,5,5
19,8/5/2016 12:40:44,Games,4,3

In [49]:
SF6

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Apps,7/29/2016 15:17:19,4,3
1,Apps,7/29/2016 16:21:52,3,4
2,Apps,7/29/2016 16:22:54,2,3
3,Apps,7/29/2016 16:54:46,4,3
4,Apps,7/29/2016 22:40:39,3,4
5,Apps,7/31/2016 23:10:54,5,3
6,Apps,7/30/2016 11:06:02,1,3
7,Apps,7/29/2016 15:23:30,3,3
8,Apps,7/29/2016 15:29:56,5,3
9,Apps,7/29/2016 15:34:35,4,3
10,Apps,7/29/2016 15:25:23,5,3
11,Games,7/29/2016 15:17:52,5,3
12,Games,7/29/2016 15:14:11,5,3
13,Games,7/29/2016 15:13:01,4,3
14,Games,7/29/2016 17:07:36,5,4
15,Games,7/29/2016 15:50:15,5,4
16,Games,7/29/2016 15:36:20,3,4
17,Intro,7/29/2016 18:46:09,5,3
18,Intro,7/29/2016 16:09:44,5,3
19,Intro,7/29/2016 15:00:35,3,4
20,Intro,7/29/2016 15:02:01,5,3
21,Intro,7/29/2016 15:09:17,5,3
22,VR,7/30/2016 9:00:15,4,3
23,VR,7/29/2016 21:45:54,4,4
24,VR,7/30/2016 13:09:48,4,3

In [50]:
SG6

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/29/2016 19:18:44,4,3
1,7/29/2016 23:12:48,5,5
2,7/30/2016 5:46:01,5,3
3,7/30/2016 7:02:47,4,3
4,7/31/2016 7:40:14,3,5
5,7/31/2016 8:34:29,5,3

In [51]:
SV6

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/29/2016 13:46:28,Apps,4,3
1,7/29/2016 13:52:16,Apps,5,3
2,7/29/2016 16:10:41,Apps,5,4
3,7/29/2016 15:10:27,Apps,4,3
4,7/29/2016 14:18:21,Apps,3,3
5,7/29/2016 15:25:45,Apps,3,3
6,7/29/2016 16:41:48,Apps,4,3
7,7/29/2016 15:26:20,Apps,5,3
8,7/29/2016 13:20:33,Apps,2,2
9,7/29/2016 13:24:45,Apps,4,3
10,7/29/2016 13:47:43,Apps,3,3
11,7/29/2016 15:31:26,Apps,5,3
12,7/29/2016 15:28:06,Apps,5,2
13,7/29/2016 13:44:38,Games,3,3
14,7/29/2016 15:36:04,Games,4,3
15,7/29/2016 13:26:06,Games,4,3
16,7/29/2016 15:02:27,Games,5,3
17,7/29/2016 15:15:48,Games,4,3
18,7/29/2016 13:35:17,Games,4,4
19,7/29/2016 13:27:19,Games,4,4
20,7/29/2016 14:40:29,Games,3,4
21,7/29/2016 15:06:33,Games,4,3
22,7/29/2016 15:17:23,Games,4,4
23,7/29/2016 13:23:48,Games,4,2
24,7/29/2016 13:17:25,Intro,5,3
25,7/29/2016 13:19:14,Intro,5,2
26,7/29/2016 13:17:38,Intro,5,3
27,7/29/2016 13:46:22,Intro,5,4
28,7/29/2016 13:21:13,Intro,3,4
29,7/29/2016 13:11:56,Intro,4,3
30,7/29/2016 13:15:55,Intro,4,3
31,7/29/2016 13:16:10,Intro,4,3
32,7/29/2016 13:19:58,Intro,4,3
33,7/29/2016 13:17:35,Intro,5,3
34,7/29/2016 13:24:51,Intro,4,2

In [52]:
Taipei1

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/29/2016 1:07:23,5,3
1,7/29/2016 1:08:46,5,4
2,7/29/2016 1:11:16,5,3
3,7/29/2016 1:13:23,5,3
4,7/29/2016 1:13:56,4,3
5,7/29/2016 1:17:27,4,3
6,7/29/2016 1:22:25,3,4
7,7/29/2016 1:27:55,3,3
8,7/29/2016 1:28:54,5,2
9,7/29/2016 1:29:23,4,4
10,7/29/2016 1:46:49,5,4
11,7/29/2016 21:20:05,5,3

In [53]:
Tokyo1

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,7/31/2016 1:04:57,3,4
1,7/31/2016 3:38:14,4,3
2,7/31/2016 3:59:43,4,1
3,7/31/2016 4:19:51,4,2
4,7/31/2016 5:14:20,5,4
5,7/31/2016 6:50:12,3,3
6,7/31/2016 15:23:52,5,5
7,7/31/2016 16:49:45,4,2
8,8/1/2016 1:18:47,3,4
9,8/1/2016 1:30:17,5,3
10,8/1/2016 1:30:17,5,3
11,8/1/2016 6:15:10,4,4
12,8/1/2016 7:56:08,4,3

In [54]:
LA7

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,8/5/2016 11:22:50,Intro,3,2
1,8/5/2016 11:23:13,Intro,5,3
2,8/5/2016 11:24:20,Games,4,2
3,8/5/2016 11:29:26,Intro,4,3
4,8/5/2016 11:31:08,Games,4,3
5,8/5/2016 11:57:53,Games,5,3
6,8/5/2016 13:23:30,Intro,4,4
7,8/5/2016 13:58:27,Games,5,3
8,8/5/2016 14:00:14,Games,5,3

In [55]:
NY7

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,8/5/2016 12:34:16,Apps,3,3
1,8/5/2016 12:35:50,Apps,5,3
2,8/5/2016 12:36:31,Games,5,3
3,8/5/2016 12:36:55,Games,4,3
4,8/5/2016 12:37:12,Apps,4,3
5,8/5/2016 12:37:15,Intro,4,4
6,8/5/2016 12:39:02,Apps,5,3
7,8/5/2016 12:39:13,Games,5,4
8,8/5/2016 12:43:00,Games,4,3
9,8/5/2016 12:43:35,Apps,4,3
10,8/5/2016 12:45:05,Intro,5,3
11,8/5/2016 12:45:58,Games,3,3
12,8/5/2016 12:46:09,Games,5,4
13,8/5/2016 13:04:11,Apps,4,3
14,8/5/2016 13:13:02,Intro,4,3
15,8/5/2016 13:37:41,Apps,4,3
16,8/5/2016 13:39:55,Intro,5,4

In [56]:
SF7

,What track are you in?,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,Apps,8/5/2016 11:13:01,5,5
1,Apps,8/5/2016 11:17:11,3,3
2,Apps,8/5/2016 11:17:52,5,3
3,Apps,8/5/2016 11:18:01,5,4
4,Apps,8/5/2016 11:20:15,4,3
5,Apps,8/5/2016 11:21:10,5,3
6,Apps,8/5/2016 12:11:04,5,3
7,Apps,8/5/2016 19:14:21,4,4
8,Games,8/5/2016 11:39:18,5,3
9,Games,8/5/2016 12:27:18,5,4
10,Intro,8/5/2016 11:20:43,4,3
11,Intro,8/5/2016 11:38:52,4,4
12,Intro,8/5/2016 11:56:23,5,3
13,Intro,8/5/2016 12:35:08,5,3
14,Intro,8/7/2016 10:45:47,4,5
15,VR,8/5/2016 11:21:38,5,3
16,VR,8/8/2016 8:35:18,1,3
17,VR,8/8/2016 8:39:01,3,5
18,VR,8/8/2016 9:41:39,2,2

In [57]:
SV7

,Timestamp,What track are you in?,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,8/5/2016 13:37:43,Apps,3,3
1,8/5/2016 13:37:50,Apps,5,3
2,8/5/2016 13:39:25,Apps,3,3
3,8/5/2016 13:39:27,Apps,4,3
4,8/5/2016 13:41:05,Apps,4,3
5,8/5/2016 13:43:54,Apps,4,3
6,8/5/2016 13:34:26,Apps,3,3
7,8/5/2016 13:35:21,Apps,3,3
8,8/5/2016 13:35:36,Apps,5,3
9,8/5/2016 13:36:39,Apps,4,4
10,8/5/2016 13:39:14,Apps,4,3
11,8/5/2016 13:36:43,Apps,4,3
12,8/5/2016 13:49:53,Apps,4,3
13,8/5/2016 13:34:54,Apps,5,3
14,8/5/2016 13:38:26,Apps,4,3
15,8/5/2016 13:51:09,Apps,3,1
16,8/5/2016 13:52:31,Apps,5,2
17,8/5/2016 13:35:43,Apps,5,3
18,8/5/2016 13:38:05,Apps,3,3
19,8/5/2016 13:35:03,Apps,4,3
20,8/5/2016 13:36:44,Apps,2,3
21,8/5/2016 13:38:33,Apps,3,3
22,8/5/2016 13:40:07,Apps,3,4
23,8/5/2016 13:34:18,Apps,5,5
24,8/5/2016 13:34:53,Games,5,4
25,8/5/2016 13:38:00,Games,3,3
26,8/5/2016 13:51:41,Games,5,3
27,8/5/2016 13:34:04,Games,5,4
28,8/5/2016 13:32:40,Games,5,5
29,8/5/2016 15:07:12,Games,4,3
30,8/5/2016 13:36:23,Games,4,3
31,8/5/2016 13:51:20,Games,5,3
32,8/5/2016 13:39:45,Games,4,4
33,8/5/2016 14:44:00,Games,5,3
34,8/5/2016 14:03:39,Games,3,3
35,8/5/2016 13:47:15,Intro,4,4
36,8/5/2016 13:45:29,Intro,4,3
37,8/5/2016 13:49:31,Intro,5,3
38,8/5/2016 13:47:02,Intro,5,3
39,8/5/2016 13:48:45,Intro,5,3
40,8/5/2016 13:44:33,Intro,5,3
41,8/5/2016 13:43:43,Intro,5,4
42,8/5/2016 13:44:24,Intro,4,4
43,8/5/2016 13:43:17,Intro,4,3
44,8/5/2016 13:51:18,Intro,5,3
45,8/5/2016 13:43:35,Intro,4,2
46,8/7/2016 17:45:06,Apps,3,3

In [58]:
Taipei2

,Timestamp,How would you rate your overall satisfaction with the Summer Academy this week?,How well is the schedule paced?
0,8/5/2016 1:39:41,3,3
1,8/5/2016 1:40:47,4,3
2,8/5/2016 1:40:50,4,3
3,8/5/2016 1:42:44,4,4
4,8/5/2016 1:45:13,5,4
5,8/5/2016 1:45:39,4,3
6,8/5/2016 1:49:21,4,3
7,8/8/2016 1:30:34,5,3
8,8/8/2016 1:33:45,5,3
9,8/8/2016 1:49:29,5,3
10,8/8/2016 1:51:00,3,3

In [59]:
Weak8

,#,How likely is it that you would recommend the Make School Summer Academy to a friend?,location,track,Start Date (UTC),Submit Date (UTC),Network ID
0,00b836bda84e6bdbe780af97e249e59f,10,New York,summerApps,9/7/16 1:03,9/7/16 1:04,3212b7a834
1,39dde6dc0e1e375845d756fc7e39fc5f,10,San Francisco,summerIntro,9/7/16 1:03,9/7/16 1:04,f4954355aa
2,5e56b9de91670b308cb98dd2848b8739,10,New York,summerIntro,9/7/16 1:03,9/7/16 1:05,3d69ca289b
3,641081d05785b47a0f17448625da0d49,9,Sunnyvale,summerApps (4-week),9/7/16 1:04,9/7/16 1:06,261608f95d
4,c29bdd4f5678d78b450f4494e0f53c8c,3,San Francisco,summerIntro,9/7/16 1:04,9/7/16 1:11,d6672ddf6f
5,9030d8a662b39b519b2b685834413d66,10,San Francisco,summerApps,9/7/16 1:09,9/7/16 1:13,088e6f938d
6,1c07190c7caa72bf6b59cea48e1a4a97,8,San Francisco,summerApps,9/7/16 1:04,9/7/16 1:14,00f1d07a90
7,27a63d6c24710feb52c0cfdef7e01175,3,New York,summerGames,9/7/16 1:14,9/7/16 1:15,e0724aac23
8,b47b95f84547d8347119de1da5faa46d,6,Singapore,summerApps,9/7/16 1:16,9/7/16 1:21,9eeec0f9bf
9,828fafa477484f61d2ca5930fe99ad46,9,New York,summerGames,9/7/16 1:22,9/7/16 1:27,6c80fd2754
10,7d70f1e30217d867f3c0f961462d8ae8,10,Sunnyvale,summerGames,9/7/16 1:28,9/7/16 1:29,6c04cd1a6e
11,65bd071ab808290560e7d11c09f56796,10,San Francisco,summerVR,9/7/16 1:22,9/7/16 1:33,82eadbe830
12,d66976d012b4c8a5c708f1a438605488,8,San Francisco,summerIntro,9/7/16 1:30,9/7/16 1:36,ccea45b0f4
13,9db748a8e0d5789cb3a5fcb27fc59083,8,Sunnyvale,summerApps,9/7/16 1:47,9/7/16 1:50,9e894113e2
14,5ee2a5d8e87fd5790906f7b004963e14,8,Los Angeles,summerGames,9/7/16 1:34,9/7/16 1:51,7a61b16f29
15,9826290f1bf2fd4c105857e2af933ffe,10,San Francisco,summerApps,9/7/16 2:28,9/7/16 2:33,55641e8ccb
16,ea85e7c699751b5993776ef16db0b1d9,9,Sunnyvale,summerGames,9/7/16 2:39,9/7/16 2:41,125a8466ea
17,58cb61ce774b116d87e3888d4c1babf1,10,New York,summerGames,9/7/16 2:39,9/7/16 2:43,9f88839991
18,a08ef61cfa87d1ba00c691de4a55f4c2,7,Singapore,summerApps,9/7/16 2:47,9/7/16 2:50,bd06f31b2a
19,630fd265cdb8308b60b4b59351690f0a,10,San Francisco,summerIntro,9/7/16 2:56,9/7/16 2:56,7f24478045
20,2f7303a7ac0943b341d02678b085688e,10,San Francisco,summerApps,9/7/16 2:58,9/7/16 2:59,32fdf4fca0
21,785568c94d73aa0fad4493ee79fa3974,10,Sunnyvale,summerGames,9/7/16 2:59,9/7/16 3:01,ffbbd84b0e
22,fe02b118aea0ef15ccd06e6f7e6209f4,4,New York,summerIntro,9/7/16 3:05,9/7/16 3:08,9dbeedfbf5
23,6e2c750a71613e3fd7d5f425320cc750,9,San Francisco,summerGames,9/7/16 3:22,9/7/16 3:31,19a8645313
24,522ff7a7546272c3c98eab026e8c098a,10,Sunnyvale,summerGames,9/7/16 3:15,9/7/16 3:31,42560fe8ea
25,80fce9f8822690ad581ff8d554e6f629,9,Sunnyvale,summerApps,9/7/16 3:41,9/7/16 3:42,b194ad4477
26,e78c696358f9c59b0375884ab9217f70,10,San Francisco,summerIntro,9/7/16 4:04,9/7/16 4:05,f8ef38e4e3
27,4885e461415138a403fb0408a8060094,10,Sunnyvale,summerApps,9/7/16 4:07,9/7/16 4:10,06674df051
28,bb261d3e5b4fe2197f54f28c416948e1,7,Sunnyvale,summerGames,9/7/16 4:20,9/7/16 4:21,66eb19a8df
29,391157a49dc832edb535b3c6ee3dd6a0,10,San Francisco,summerGames,9/7/16 5:41,9/7/16 5:43,c94ee250b6
...,...,...,...,...,...,...,...
35,fa299e5db39696d38eafd4ae6e71aebb,9,Singapore,summerApps,9/7/16 12:26,9/7/16 12:26,58089eb896
36,35d559a3756563f795c0e9e81299695e,10,San Francisco,summerApps,9/7/16 12:45,9/7/16 12:48,0b7b124ce3
37,2a42f27c8a19a165f37439cfd9fed33d,10,New York,summerIntro,9/7/16 13:09,9/7/16 13:10,32c6661877
38,1e19d356f6f8eac878413ec736e46da8,9,San Francisco,summerApps (4-week),9/7/16 14:39,9/7/16 14:40,75a5cf3cee
39,a8497fc472b7a09ac6e16e658851d652,10,New York,summerApps,9/7/16 14:52,9/7/16 14:54,5a977a012b
40,3208a7393ff3fd3c67fae17c8e48db37,8,Sunnyvale,summerApps,9/7/16 15:57,9/7/16 15:58,20eafecabd
41,45d7a66a67ee79f5c9ffa6d6abb1b307,10,San Francisco,summerApps,9/7/16 17:11,9/7/16 17:21,e474841bba
42,964e2d8e91a04b8735e73aafedb54541,9,San Francisco,summerVR,9/7/16 19:13,9/7/16 19:25,ae112590e9
43,e8780f8e3d0026549c276135fd9569ef,7,New York,summerApps (4-week),9/7/16 19:23,9/7/16 19:26,a578e4964d
44,864ff3fc8e19d27f3d4c46eb4b304d35,10,San Francisco,summerApps,9/7/16 19:39,9/7/16 19:40,573a652ffb
45,c2bc67325eb91085f3686aabf309d801,10,Los Angeles,summerGames,9/7/16 19:51,9/7/16 19:57,cadcc3e368
46,fd802ce8e43aa9deade38c108298dbaf,10,Sunnyvale,summerIntro,9/7/16 23:58,9/8/16 0:00,9ba33ad0f9
47,ac671896bf86167dc073c3f52131fe70,8,New York,summerApps,9/8/16 0:50,9/8/16 0:58,1b349a7cce
48,143652af47062192767081ff1dd630cc,10,San Francisco,summerGames,9/8/16 1:55,9/8/16 1:59,94f319072c
49,f4a5aed1cad9367cc58744706de54a1b,7,Sunnyvale,summerApps,9/8/16 5:59,9/8/16 6:04,9f09067d6a
50,3c3495614eada68b5fa8e19377e1cccd,10,Los Angeles,summerGames (4-week),9/8/16 14:25,9/8/16 14:27,89b8894183
51,8e2309e3a1ba2a5630ea251b96712a9a,8,San Francisco,summerGames,9/8/16 22:00,9/8/16 22:06,01074776b4
52,44db66e47441ecd2c88dbe5dd3a38e1e,8,New York,summerApps,9/8/16 22:16,9/8/16 22:20,11c95dc87f
53,80f3d539b648cfaf92b45699e7a0545b,10,San Francisco,summerApps,9/8/16 23:06,9/8/16 23:07,0d6873c5ed
54,60343ca18c43feedab8481e25421484d,7,San Francisco,summerApps,9/8/16 23:01,9/8/16 23:11,8a13f23e89
55,5c99e0aac4efe9eecffd83e50ec7c8db,7,San Francisco,summerIntro,9/9/16 1:41,9/9/16 1:42,830f174273
56,022d99be229f86182ca1c2bc49aa2e09,10,San Francisco,summerIntro,9/9/16 4:22,9/9/16 4:25,9fc69673bd
57,5a83e1056e30a8596056bec5c050a86d,9,San Francisco,summerApps,9/9/16 11:06,9/9/16 11:09,6d5dece18c
58,50f1c0545d9cef1c10be657e1083990d,10,New York,summerGames,9/9/16 13:24,9/9/16 13:28,f7f5617754
59,22ac2ab300a76178ce53104d03408c8a,8,San Francisco,summerGames,9/10/16 22:28,9/10/16 22:30,9500d5b989
60,2d487d890a68bbdb70dd027bc1e501bb,9,San Francisco,summerApps,9/12/16 0:05,9/12/16 0:13,fe650b21f7
61,0cdf8eced1b8791ae536797c75751b25,5,San Francisco,summerVR,9/13/16 4:36,9/13/16 4:42,a7deda5bf5
62,d353c2cdff6bcf3e932579a5647d511a,10,San Francisco,summerGames (4-week),9/7/16 5:08,9/13/16 20:13,a3e21d76e3
63,f5716831fe432cef5da980038f2f8969,9,San Francisco,summerIntro,9/14/16 12:04,9/14/16 12:10,843b902fa2
64,951e9361c4da1756ae1c6fb2612cb9dd,9,Sunnyvale,summerGames,9/26/16 16:33,9/26/16 16:34,a2863e199d

In [69]:
Y2017 = pd.read_csv("Student Feedback Surveys-Superview.csv")
Y2017
# Perhaps: "Just right" = promoter; "A little too...." = passive; "Way too...." = detractor

,ID,Location,Track,Week,Rating (Num),Schedule Pacing
0,134,San Francisco,"Apps, Explorer",Week 1,3,Just right
1,36,Los Angeles,Apps,Week 1,4,A little too fast
2,117,San Francisco,Games,Week 1,4,Way too slow
3,253,NaN,NaN,Week 2,4,A little too fast
4,350,New York City,"Apps, Explorer",Week 1,4,Just right
5,23,Redwood City,Apps,Week 1,5,Just right
6,28,Los Angeles,Apps,Week 7,5,Just right
7,65,San Francisco,Apps,Week 1,5,A little too slow
8,101,Santa Clara,Apps,Week 1,5,A little too slow
9,124,Santa Clara,Apps,Week 1,5,Just right
10,157,Redwood City,Apps,Week 2,5,Just right
11,170,Oakland,Apps,Week 2,5,Just right
12,255,San Francisco,Apps,Week 2,5,Way too fast
13,289,Washington DC,Apps,Week 1,5,Just right
14,299,Washington DC,"Apps, Explorer",Week 1,5,A little too slow
15,307,NaN,NaN,Week 3,5,A little too slow
16,319,Redwood City,Apps,Week 3,5,Just right
17,336,New York City,Apps,Week 1,5,A little too slow
18,441,San Francisco,"Apps, Explorer",Week 3,5,Just right
19,482,Santa Clara,Apps,Week 3,5,Just right
20,37,Los Angeles,Games,Week 1,6,Just right
21,41,Chicago,"Apps, Explorer",Week 1,6,Just right
22,45,Chicago,Apps,Week 1,6,A little too slow
23,47,Chicago,Apps,Week 1,6,A little too slow
24,77,San Francisco,Apps,Week 1,6,A little too fast
25,78,San Francisco,Apps,Week 1,6,A little too fast
26,94,San Francisco,"Apps, Explorer",Week 1,6,Just right
27,193,Santa Clara,Apps,Week 2,6,Just right
28,251,San Francisco,"Apps, Explorer",Week 2,6,Just right
29,254,San Francisco,Apps,Week 2,6,Way too fast
...,...,...,...,...,...,...
1423,1470,New York City,Games,Week 7,10,Just right
1424,1471,New York City,Apps,Week 7,8,Just right
1425,1472,New York City,Games,Week 7,9,Just right
1426,1473,New York City,"Games, Explorer",Week 7,10,Just right
1427,1474,New York City,Games,Week 7,9,Just right
1428,1475,New York City,Apps,Week 7,9,Just right
1429,1476,New York City,Apps,Week 7,8,A little too fast
1430,1477,New York City,Games,Week 7,10,Just right
1431,1478,New York City,Apps,Week 7,10,Just right
1432,1479,New York City,Games,Week 7,9,Just right
1433,1480,New York City,Apps,Week 7,9,Just right
1434,1481,New York City,Apps,Week 7,10,Just right
1435,1482,New York City,Apps,Week 7,8,Just right
1436,1483,New York City,Apps,Week 7,7,A little too fast
1437,1484,New York City,"Apps, Explorer",Week 7,7,Way too fast
1438,1485,New York City,Apps,Week 7,7,Just right
1439,1486,New York City,Apps,Week 7,9,Just right
1440,1487,New York City,Apps,Week 7,8,Just right
1441,1488,New York City,"Games, Explorer",Week 7,7,Just right
1442,1489,New York City,"Apps, Explorer",Week 7,10,Just right
1443,1490,New York City,"Apps, Explorer",Week 7,10,Just right
1444,1491,New York City,Games,Week 7,9,A little too fast
1445,1492,New York City,Apps,Week 7,9,Just right
1446,1493,New York City,Apps,Week 7,3,Just right
1447,1494,New York City,"Games, Explorer",Week 7,10,Just right
1448,1495,New York City,"Apps, Explorer",Week 7,10,Just right
1449,1496,New York City,"Apps, Explorer",Week 7,8,Just right
1450,1497,New York City,Apps,Week 7,10,Just right
1451,1498,New York City,"Apps, Explorer",Week 7,1,A little too slow
1452,1499,New York City,Apps,Week 5,8,Just right

In [1]:
# Ideas: One set with ONLY timestamps, summer academy ratings, pacings
#         One set with ONLY track, summer academy ratings, pacings
#       One set for EVERY CITY, with the YEAR appended
# Q1: What is the average overall satisfaction with the Summer Academy?
# Q2: Which weeks on both years yield the most promoters?
# Q3: Of those promoters, how many were on the intro track?
# Q4: And how many were on the app track?
# Q5: And how many were on the games track?
# Q6: Which weeks on both years yield the most detractors?
# Q7: Of those detractors, how many were on the intro track?
# Q8: And how many were on the app track?
# Q9: And how many were on the games track?

In [33]:
frames = [LA1, NY1, SF1, SG1, SV1, LA2, NY2, SF2, SG2, SV2, LA3, NY3, SF3, SG3, SV3, LA4, NY4, SF4, SG4, SV4, HK1, LA5, NY5, SF5, SG5, SV5, HK2, LA6, NY6, SF6, SG6, SV6, Taipei1, Tokyo1, LA7, NY7, SF7, SV7, Taipei2, Weak8, Y2017]
result = pd.concat(frames, sort=True)
result

,#,How likely is it that you would recommend the Make School Summer Academy to a friend?,How well are the tutorials paced?,How well is the schedule paced?,How would you rate your overall satisfaction with the Summer Academy this week?,ID,Location,Network ID,Rating (Num),Schedule Pacing,Start Date (UTC),Submit Date (UTC),Timestamp,Track,Unnamed: 0,Week,What track are you in?,location,track
0,NaN,NaN,4.0,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/23/2016 15:55:12,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/23/2016 16:14:04,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 0:18:42,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 6:59:42,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,5.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 9:40:16,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,4.0,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/23/2016 22:07:29,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,3.0,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 9:34:14,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,5.0,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:03:34,NaN,NaN,NaN,Games,NaN,NaN
1,NaN,NaN,3.0,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:10:22,NaN,NaN,NaN,Games,NaN,NaN
2,NaN,NaN,3.0,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:03:41,NaN,NaN,NaN,Apps,NaN,NaN
3,NaN,NaN,3.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:04:59,NaN,NaN,NaN,Intro,NaN,NaN
4,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:07:02,NaN,NaN,NaN,Intro,NaN,NaN
5,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:08:41,NaN,NaN,NaN,Intro,NaN,NaN
6,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:09:30,NaN,NaN,NaN,Intro,NaN,NaN
7,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:01:03,NaN,NaN,NaN,Games,NaN,NaN
8,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:02:43,NaN,NaN,NaN,Games,NaN,NaN
9,NaN,NaN,3.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:03:48,NaN,NaN,NaN,Games,NaN,NaN
10,NaN,NaN,3.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:06:04,NaN,NaN,NaN,Games,NaN,NaN
11,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:06:24,NaN,NaN,NaN,Games,NaN,NaN
12,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:01:19,NaN,NaN,NaN,Apps,NaN,NaN
13,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:01:29,NaN,NaN,NaN,Apps,NaN,NaN
14,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:02:20,NaN,NaN,NaN,Apps,NaN,NaN
15,NaN,NaN,3.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:03:24,NaN,NaN,NaN,Apps,NaN,NaN
16,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:03:25,NaN,NaN,NaN,Apps,NaN,NaN
17,NaN,NaN,2.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:03:58,NaN,NaN,NaN,Apps,NaN,NaN
18,NaN,NaN,3.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:06:59,NaN,NaN,NaN,Apps,NaN,NaN
19,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:07:06,NaN,NaN,NaN,Apps,NaN,NaN
20,NaN,NaN,4.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:08:37,NaN,NaN,NaN,Apps,NaN,NaN
21,NaN,NaN,3.0,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:08:51,NaN,NaN,NaN,Apps,NaN,NaN
22,NaN,NaN,3.0,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6/24/2016 7:01:55,NaN,NaN,NaN,Intro,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1423,NaN,NaN,NaN,NaN,NaN,1470.0,New York City,NaN,10,Just right,NaN,NaN,NaN,Games,NaN,Week 7,NaN,NaN,NaN
1424,NaN,NaN,NaN,NaN,NaN,1471.0,New York City,NaN,8,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1425,NaN,NaN,NaN,NaN,NaN,1472.0,New York City,NaN,9,Just right,NaN,NaN,NaN,Games,NaN,Week 7,NaN,NaN,NaN
1426,NaN,NaN,NaN,NaN,NaN,1473.0,New York City,NaN,10,Just right,NaN,NaN,NaN,"Games, Explorer",NaN,Week 7,NaN,NaN,NaN
1427,NaN,NaN,NaN,NaN,NaN,1474.0,New York City,NaN,9,Just right,NaN,NaN,NaN,Games,NaN,Week 7,NaN,NaN,NaN
1428,NaN,NaN,NaN,NaN,NaN,1475.0,New York City,NaN,9,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1429,NaN,NaN,NaN,NaN,NaN,1476.0,New York City,NaN,8,A little too fast,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1430,NaN,NaN,NaN,NaN,NaN,1477.0,New York City,NaN,10,Just right,NaN,NaN,NaN,Games,NaN,Week 7,NaN,NaN,NaN
1431,NaN,NaN,NaN,NaN,NaN,1478.0,New York City,NaN,10,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1432,NaN,NaN,NaN,NaN,NaN,1479.0,New York City,NaN,9,Just right,NaN,NaN,NaN,Games,NaN,Week 7,NaN,NaN,NaN
1433,NaN,NaN,NaN,NaN,NaN,1480.0,New York City,NaN,9,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1434,NaN,NaN,NaN,NaN,NaN,1481.0,New York City,NaN,10,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1435,NaN,NaN,NaN,NaN,NaN,1482.0,New York City,NaN,8,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1436,NaN,NaN,NaN,NaN,NaN,1483.0,New York City,NaN,7,A little too fast,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1437,NaN,NaN,NaN,NaN,NaN,1484.0,New York City,NaN,7,Way too fast,NaN,NaN,NaN,"Apps, Explorer",NaN,Week 7,NaN,NaN,NaN
1438,NaN,NaN,NaN,NaN,NaN,1485.0,New York City,NaN,7,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1439,NaN,NaN,NaN,NaN,NaN,1486.0,New York City,NaN,9,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1440,NaN,NaN,NaN,NaN,NaN,1487.0,New York City,NaN,8,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1441,NaN,NaN,NaN,NaN,NaN,1488.0,New York City,NaN,7,Just right,NaN,NaN,NaN,"Games, Explorer",NaN,Week 7,NaN,NaN,NaN
1442,NaN,NaN,NaN,NaN,NaN,1489.0,New York City,NaN,10,Just right,NaN,NaN,NaN,"Apps, Explorer",NaN,Week 7,NaN,NaN,NaN
1443,NaN,NaN,NaN,NaN,NaN,1490.0,New York City,NaN,10,Just right,NaN,NaN,NaN,"Apps, Explorer",NaN,Week 7,NaN,NaN,NaN
1444,NaN,NaN,NaN,NaN,NaN,1491.0,New York City,NaN,9,A little too fast,NaN,NaN,NaN,Games,NaN,Week 7,NaN,NaN,NaN
1445,NaN,NaN,NaN,NaN,NaN,1492.0,New York City,NaN,9,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1446,NaN,NaN,NaN,NaN,NaN,1493.0,New York City,NaN,3,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1447,NaN,NaN,NaN,NaN,NaN,1494.0,New York City,NaN,10,Just right,NaN,NaN,NaN,"Games, Explorer",NaN,Week 7,NaN,NaN,NaN
1448,NaN,NaN,NaN,NaN,NaN,1495.0,New York City,NaN,10,Just right,NaN,NaN,NaN,"Apps, Explorer",NaN,Week 7,NaN,NaN,NaN
1449,NaN,NaN,NaN,NaN,NaN,1496.0,New York City,NaN,8,Just right,NaN,NaN,NaN,"Apps, Explorer",NaN,Week 7,NaN,NaN,NaN
1450,NaN,NaN,NaN,NaN,NaN,1497.0,New York City,NaN,10,Just right,NaN,NaN,NaN,Apps,NaN,Week 7,NaN,NaN,NaN
1451,NaN,NaN,NaN,NaN,NaN,1498.0,New York City,NaN,1,A little too slow,NaN,NaN,NaN,"Apps, Explorer",NaN,Week 7,NaN,NaN,NaN
1452,NaN,NaN,NaN,NaN,NaN,1499.0,New York City,NaN,8,Just right,NaN,NaN,NaN,Apps,NaN,Week 5,NaN,NaN,NaN

## Try: making just a 2016 table, getting it clean, THEN joining a 2017 table to it