In [817]:
from scipy import stats
import math
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [825]:
cd CSVs

/Users/cherishkim/Code/school_projects/DS11/Assignments/DS/NPS Project/SA/CSVs

# Step 1: Clean and merge 2016 data from weeks 1-7 only.

In [826]:
LA1 = pd.read_csv("Anon Week 1 Feedback - LA.csv")

In [827]:
LA1 = LA1.drop(columns=['Timestamp'])

In [828]:
LA1 = LA1.rename(index=str, columns={"How well are the tutorials paced?": "How would you rate the curriculum pace?"})

In [829]:
LA1.insert(0, 'Location', 'Los Angeles')
LA1.insert(1, 'Week', 'Week 1')

In [830]:
NY1 = pd.read_csv("Anon Week 1 Feedback - NY.csv")

In [831]:
NY1 = NY1.drop(columns=['Timestamp'])

In [832]:
NY1 = NY1.rename(index = str, columns={'How well are the tutorials paced?': 'How would you rate the curriculum pace?', 'What track are you in?': 'Track'})

In [833]:
NY1.insert(0, 'Location', 'New York City')
NY1.insert(1, 'Week', 'Week 1')

In [834]:
SF1 = pd.read_csv("Anon Week 1 Feedback - SF.csv")

In [835]:
SF1 = SF1.drop(columns=['Timestamp'])

In [836]:
SF1 = SF1.rename(index=str, columns={'How well are the tutorials paced?': 'How would you rate the curriculum pace?', 'What track are you in?': 'Track'})

In [837]:
SF1.insert(0, 'Location', 'San Francisco')
SF1.insert(1, 'Week', 'Week 1')

In [838]:
SG1 = pd.read_csv("Anon Week 1 Feedback - Singapore.csv")

In [839]:
SG1 = SG1.drop(columns=['Timestamp'])

In [840]:
SG1 = SG1.rename(index=str, columns={'How well are the tutorials paced?': 'How would you rate the curriculum pace?'})

In [841]:
SG1.insert(0, 'Location', 'Singapore')
SG1.insert(1, 'Week', 'Week 1')

In [842]:
SV1 = pd.read_csv("Anon Week 1 Feedback - SV.csv")

In [843]:
SV1 = SV1.drop(columns=['Unnamed: 0'])

In [844]:
SV1 = SV1.rename(index=str, columns={'What track are you in?': 'Track', 'How well are the tutorials paced?': 'How would you rate the curriculum pace?'})

In [845]:
SV1.insert(0, 'Location', 'Sunnyvale')
SV1.insert(1, 'Week', 'Week 1')

In [846]:
LA2 = pd.read_csv("Anon Week 2 Feedback - LA.csv")

In [847]:
LA2 = LA2.drop(columns=['Timestamp'])

In [848]:
LA2 = LA2.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [849]:
LA2.insert(0, 'Location', 'Los Angeles')
LA2.insert(1, 'Week', 'Week 2')

In [850]:
NY2 = pd.read_csv("Anon Week 2 Feedback - NY.csv")

In [851]:
NY2 = NY2.drop(columns=['Timestamp'])

In [852]:
NY2 = NY2.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [853]:
NY2.insert(0, 'Location', 'New York City')
NY2.insert(1, 'Week', 'Week 2')

In [854]:
SF2 = pd.read_csv("Anon Week 2 Feedback - SF.csv")

In [855]:
SF2 = SF2.drop(columns=['Timestamp'])

In [856]:
SF2 = SF2.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [857]:
SF2.insert(0, 'Location', 'San Francisco')
SF2.insert(1, 'Week', 'Week 2')

In [858]:
SG2 = pd.read_csv("Anon Week 2 Feedback - SG.csv")

In [859]:
SG2 = SG2.drop(columns=['Timestamp'])

In [860]:
SG2 = SG2.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [861]:
SG2.insert(0, 'Location', 'Singapore')
SG2.insert(1, 'Week', 'Week 2')

In [862]:
SV2 = pd.read_csv("Anon Week 2 Feedback - SV.csv")

In [863]:
SV2 = SV2.drop(columns=['Timestamp'])

In [864]:
SV2 = SV2.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [865]:
SV2.insert(0, 'Location', 'Sunnyvale')
SV2.insert(1, 'Week', 'Week 2')

In [866]:
LA3 = pd.read_csv("Anon Week 3 Feedback - LA.csv")

In [867]:
LA3 = LA3.drop(columns='Timestamp')

In [868]:
LA3 = LA3.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [869]:
LA3.insert(0, 'Location', 'Los Angeles')
LA3.insert(1, 'Week', 'Week 3')

In [870]:
NY3 = pd.read_csv("Anon Week 3 Feedback - NY.csv")

In [871]:
NY3 = NY3.drop(columns=['Timestamp'])

In [872]:
NY3 = NY3.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?', 'What track are you in?': 'Track'})

In [873]:
NY3.insert(0, 'Location', 'New York City')
NY3.insert(1, 'Week', 'Week 3')

In [874]:
SF3 = pd.read_csv("Anon Week 3 Feedback - SF.csv")

In [875]:
SF3 = SF3.drop(columns=['Timestamp'])

In [876]:
SF3 = SF3.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [877]:
SF3.insert(0, 'Location', 'San Francisco')
SF3.insert(1, 'Week', 'Week 3')

In [878]:
SG3 = pd.read_csv("Anon Week 3 Feedback - SG.csv")

In [879]:
SG3 = SG3.drop(columns=['Timestamp'])

In [880]:
SG3 = SG3.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [881]:
SG3.insert(0, 'Location', 'Singapore')
SG3.insert(1, 'Week', 'Week 3')

In [882]:
SV3 = pd.read_csv("Anon Week 3 Feedback - SV.csv")

In [883]:
SV3 = SV3.drop(columns=['Timestamp'])

In [884]:
SV3 = SV3.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [885]:
SV3.insert(0, 'Location', 'Sunnyvale')
SV3.insert(1, 'Week', 'Week 3')

In [886]:
LA4 = pd.read_csv("Anon Week 4 Feedback - LA.csv")

In [887]:
LA4 = LA4.drop(columns=['Timestamp'])

In [888]:
LA4 = LA4.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [889]:
LA4.insert(0, 'Location', 'Los Angeles')
LA4.insert(1, 'Week', 'Week 4')

In [890]:
NY4 = pd.read_csv("Anon Week 4 Feedback - NY.csv")

In [891]:
NY4 = NY4.drop(columns=['Timestamp'])

In [892]:
NY4 = NY4.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [893]:
NY4.insert(0, 'Location', 'New York City')
NY4.insert(1, 'Week', 'Week 4')

In [894]:
SF4 = pd.read_csv("Anon Week 4 Feedback - SF.csv")

In [895]:
SF4 = SF4.drop(columns=['Timestamp'])

In [896]:
SF4 = SF4.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [897]:
SF4.insert(0, 'Location', 'San Francisco')
SF4.insert(1, 'Week', 'Week 4')

In [898]:
SG4 = pd.read_csv("Anon Week 4 Feedback - SG.csv")

In [899]:
SG4 = SG4.drop(columns=['Timestamp'])

In [900]:
SG4 = SG4.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [901]:
SG4.insert(0, 'Location', 'Singapore')
SG4.insert(1, 'Week', 'Week 4')

In [902]:
SV4 = pd.read_csv("Anon Week 4 Feedback - SV.csv")

In [903]:
SV4 = SV4.drop(columns=['Timestamp'])

In [904]:
SV4 = SV4.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [905]:
SV4.insert(0, 'Location', 'Sunnyvale')
SV4.insert(1, 'Week', 'Week 4')

In [906]:
HK1 = pd.read_csv("Anon Week 5 Feedback - HK.csv")

In [907]:
HK1 = HK1.drop(columns=['Timestamp'])

In [908]:
HK1 = HK1.rename(index=str, columns={'How well are the tutorials paced?': 'How would you rate the curriculum pace?'})

In [909]:
HK1.insert(0, 'Location', 'Hong Kong')
HK1.insert(1, 'Week', 'Week 5')

In [910]:
LA5 = pd.read_csv("Anon Week 5 Feedback - LA.csv")

In [911]:
LA5 = LA5.drop(columns=['Timestamp'])

In [912]:
LA5 = LA5.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [913]:
LA5.insert(0, 'Location', 'Los Angeles')
LA5.insert(1, 'Week', 'Week 5')

In [914]:
NY5 = pd.read_csv("Anon Week 5 Feedback - NY.csv")

In [915]:
NY5 = NY5.drop(columns=['Timestamp'])

In [916]:
NY5 = NY5.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [917]:
NY5.insert(0, 'Location', 'New York City')
NY5.insert(1, 'Week', 'Week 5')

In [918]:
SF5 = pd.read_csv("Anon Week 5 Feedback - SF.csv")

In [919]:
SF5 = SF5.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [920]:
SF5.insert(0, 'Location', 'San Francisco')
SF5.insert(1, 'Week', 'Week 5')

In [921]:
SG5 = pd.read_csv("Anon Week 5 Feedback - SG.csv")

In [922]:
SG5 = SG5.drop(columns=['Timestamp'])

In [923]:
SG5 = SG5.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [924]:
SG5.insert(0, 'Location', 'Singapore')
SG5.insert(1, 'Week', 'Week 5')

In [925]:
SV5 = pd.read_csv("Anon Week 5 Feedback - SV.csv")

In [926]:
SV5 = SV5.drop(columns=['Timestamp'])

In [927]:
SV5 = SV5.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [928]:
SV5.insert(0, 'Location', 'Sunnyvale')
SV5.insert(1, 'Week', 'Week 5')

In [929]:
HK2 = pd.read_csv("Anon Week 6 Feedback - HK.csv")

In [930]:
HK2 = HK2.drop(columns=['Timestamp'])

In [931]:
HK2 = HK2.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [932]:
HK2.insert(0, 'Location', 'Hong Kong')
HK2.insert(1, 'Week', 'Week 6')

In [933]:
LA6 = pd.read_csv("Anon Week 6 Feedback - LA.csv")

In [934]:
LA6 = LA6.drop(columns=['Timestamp'])

In [935]:
LA6 = LA6.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [936]:
LA6.insert(0, 'Location', 'Los Angeles')
LA6.insert(1, 'Week', 'Week 6')

In [937]:
NY6 = pd.read_csv("Anon Week 6 Feedback - NY.csv")

In [938]:
NY6 = NY6.drop(columns=['Timestamp'])

In [939]:
NY6 = NY6.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [940]:
NY6.insert(0, 'Location', 'New York City')
NY6.insert(1, 'Week', 'Week 6')

In [941]:
SF6 = pd.read_csv("Anon Week 6 Feedback - SF.csv")

In [942]:
SF6 = SF6.drop(columns=['Timestamp'])

In [943]:
SF6 = SF6.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [944]:
SF6.insert(0, 'Location', 'San Francisco')
SF6.insert(1, 'Week', 'Week 6')

In [945]:
SG6 = pd.read_csv("Anon Week 6 Feedback - SG.csv")

In [946]:
SG6 = SG6.drop(columns=['Timestamp'])

In [947]:
SG6 = SG6.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [948]:
SG6.insert(0, 'Location', 'Singapore')
SG6.insert(1, 'Week', 'Week 6')

In [949]:
SV6 = pd.read_csv("Anon Week 6 Feedback - SV.csv")

In [950]:
SV6 = SV6.drop(columns=['Timestamp'])

In [951]:
SV6 = SV6.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [952]:
SV6.insert(0, 'Location', 'Sunnyvale')
SV6.insert(1, 'Week', 'Week 6')

In [953]:
Taipei1 = pd.read_csv("Anon Week 6 Feedback - Taipei.csv")

In [954]:
Taipei1 = Taipei1.drop(columns=['Timestamp'])

In [955]:
Taipei1 = Taipei1.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [956]:
Taipei1.insert(0, 'Location', 'Taipei')
Taipei1.insert(1, 'Week', 'Week 6')

In [957]:
Tokyo1 = pd.read_csv("Anon Week 6 Feedback - Tokyo.csv")

In [958]:
Tokyo1 = Tokyo1.drop(columns=['Timestamp'])

In [959]:
Tokyo1 = Tokyo1.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [960]:
Tokyo1.insert(0, 'Location', 'Tokyo')
Tokyo1.insert(1, 'Week', 'Week 6')

In [961]:
LA7 = pd.read_csv("Anon Week 7 Feedback - LA.csv")

In [962]:
LA7 = LA7.drop(columns=['Timestamp'])

In [963]:
LA7 = LA7.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [964]:
LA7.insert(0, 'Location', 'Los Angeles')
LA7.insert(1, 'Week', 'Week 7')

In [965]:
NY7 = pd.read_csv("Anon Week 7 Feedback - NY.csv")

In [966]:
NY7 = NY7.drop(columns=['Timestamp'])

In [967]:
NY7 = NY7.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [968]:
NY7.insert(0, 'Location', 'New York City')
NY7.insert(1, 'Week', 'Week 7')

In [969]:
SF7 = pd.read_csv("Anon Week 7 Feedback - SF.csv")

In [970]:
SF7 = SF7.drop(columns=['Timestamp'])

In [971]:
SF7 = SF7.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [972]:
SF7.insert(0, 'Location', 'San Francisco')
SF7.insert(1, 'Week', 'Week 7')

In [973]:
SV7 = pd.read_csv("Anon Week 7 Feedback - SV.csv")

In [974]:
SV7 = SV7.drop(columns='Timestamp')

In [975]:
SV7 = SV7.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [976]:
SV7.insert(0, 'Location', 'Sunnyvale')
SV7.insert(1, 'Week', 'Week 7')

In [977]:
Taipei2 = pd.read_csv("Anon Week 7 Feedback - Taipei.csv")

In [978]:
Taipei2 = Taipei2.drop(columns=['Timestamp'])

In [979]:
Taipei2 = Taipei2.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [980]:
Taipei2.insert(0, 'Location', 'Taipei')
Taipei2.insert(1, 'Week', 'Week 7')

### Finally putting it all together

In [981]:
step1 = [LA1, NY1, SF1, SG1, SV1, LA2, NY2, SF2, SG2, SV2, LA3, NY3, SF3, SG3, SV3, LA4, NY4, SF4, SG4, SV4, HK1, LA5, NY5, SF5, SG5, SV5, HK2, LA6, NY6, SF6, SG6, SV6, Taipei1, Tokyo1, LA7, NY7, SF7, SV7, Taipei2]
results1 = pd.concat(step1, ignore_index=True, sort=False)

In [982]:
results1 = results1.rename(index=str, columns={'How would you rate your overall satisfaction with the Summer Academy this week?': 'Overall Satisfaction Rating', 'How would you rate the curriculum pace?': 'Schedule Pace Rating'})

In [984]:
results1['Net Promoter Score'] = results1['Overall Satisfaction Rating'].apply(lambda num: 'Promoter' if num==5 else ('Passive' if num==4 else 'Detractor'))
# another way:
# # results1['Net Promoter Score'] = ['Promoter' if num==5 else ('Passive' if num==4 else 'Detractor') for num in results1['Overall Satisfaction Rating']]

In [985]:
# Double ratings in order to get scores out of 10
results1['Overall Satisfaction Rating'] = results1[['Overall Satisfaction Rating']].apply(lambda x: x*2)
results1['Schedule Pace Rating'] = results1[['Schedule Pace Rating']].apply(lambda x: x*2)

In [986]:
results1.head()

,Location,Week,Overall Satisfaction Rating,Schedule Pace Rating,Track,Net Promoter Score
0,Los Angeles,Week 1,6,8,NaN,Detractor
1,Los Angeles,Week 1,8,8,NaN,Passive
2,Los Angeles,Week 1,8,8,NaN,Passive
3,Los Angeles,Week 1,8,8,NaN,Passive
4,Los Angeles,Week 1,8,10,NaN,Passive

# Step 2: Clean the 2016 data from week 8.

In [987]:
week8 = pd.read_csv('Week 8 Feedback (2016, incomplete) - results.csv')

In [988]:
week8 = week8.drop(columns=['#', 'Start Date (UTC)', 'Submit Date (UTC)', 'Network ID'])

In [989]:
week8 = week8.rename(index=str, columns={'location': 'Location', 'track': 'Track', 'How likely is it that you would recommend the Make School Summer Academy to a friend?': 'Overall Satisfaction Rating'})

In [990]:
week8.insert(0, 'Week', 'Week 8')

In [991]:
week8['Net Promoter Score'] = week8['Overall Satisfaction Rating'].apply(lambda num: 'Promoter' if num==9 or num==10 else ('Passive' if num==8 or num==7 else 'Detractor'))

In [992]:
week8['Track'] = week8['Track'].str.slice(start=6) #Remove "summer" from the track names

# another way:
## week8.loc[week8['Track'] == 'summerApps', 'Track'] = 'Apps'

In [993]:
week8.head()

,Week,Overall Satisfaction Rating,Location,Track,Net Promoter Score
0,Week 8,10,New York,Apps,Promoter
1,Week 8,10,San Francisco,Intro,Promoter
2,Week 8,10,New York,Intro,Promoter
3,Week 8,9,Sunnyvale,Apps (4-week),Promoter
4,Week 8,3,San Francisco,Intro,Detractor

# Step 3: Merge the dataframes from weeks 1-7 and from week 8 of 2016 into a full 2016 dataframe.

In [994]:
step3 = [results1, week8]
all2k16 = pd.concat(step3, ignore_index=True, sort=False)

In [995]:
all2k16 = all2k16.drop(index=[466])

In [996]:
all2k16.insert(0, 'Year', '2016')

In [997]:
all2k16.head()

,Year,Location,Week,Overall Satisfaction Rating,Schedule Pace Rating,Track,Net Promoter Score
0,2016,Los Angeles,Week 1,6,8,NaN,Detractor
1,2016,Los Angeles,Week 1,8,8,NaN,Passive
2,2016,Los Angeles,Week 1,8,8,NaN,Passive
3,2016,Los Angeles,Week 1,8,8,NaN,Passive
4,2016,Los Angeles,Week 1,8,10,NaN,Passive

# Step 4: Clean the 2017 data independently of 2016.

In [998]:
all2k17 = pd.read_csv("Student Feedback Surveys-Superview.csv")

In [999]:
# Removing rows 1310, 1322, 1411 because in lieu of nulls, they say "#ERROR!"
all2k17 = all2k17.drop(index=[1310, 1322, 1411], columns=['ID'])

In [1000]:
all2k17 = all2k17.rename(index=str, columns={'Rating (Num)': 'Overall Satisfaction Rating', \
                                             'Schedule Pacing': 'Schedule Pace Rating'})

In [1001]:
all2k17.insert(0, 'Year', '2017')

In [1002]:
all2k17['Net Promoter Score'] = ['Promoter' if num=='10' or num=='9' else \
                ('Passive' if num=='8' or num=='7' else 'Detractor') \
                                 for num in all2k17['Overall Satisfaction Rating']]

In [1003]:
all2k17['Schedule Pace Rating'] = ['10' if speed=='Just right' else \
                ('8' if speed=='A little too fast' or speed=='A little too slow' else '3') \
                                  for speed in all2k17['Schedule Pace Rating']]

In [1004]:
all2k17.head()

,Year,Location,Track,Week,Overall Satisfaction Rating,Schedule Pace Rating,Net Promoter Score
0,2017,San Francisco,"Apps, Explorer",Week 1,3,10,Detractor
1,2017,Los Angeles,Apps,Week 1,4,8,Detractor
2,2017,San Francisco,Games,Week 1,4,3,Detractor
3,2017,NaN,NaN,Week 2,4,8,Detractor
4,2017,New York City,"Apps, Explorer",Week 1,4,10,Detractor

# Step 5: Merge the (full!) 2016 and 2017 datasets into a cumulative dataset.

In [1010]:
# Time to merge.
step5 = [all2k16, all2k17]
ssot = pd.concat(step5, ignore_index=True, sort=False) #acronym for Single Source of Truth

In [1011]:
# Reorder columns
ssot = ssot[['Year', 'Week', 'Track', 'Location', 'Schedule Pace Rating', 'Overall Satisfaction Rating', 'Net Promoter Score']]

In [1012]:
ssot['Schedule Pace Rating'] = ssot['Schedule Pace Rating'].fillna(0).astype(str)

In [1013]:
ssot['Schedule Pace Rating'] = ssot['Schedule Pace Rating']\
.apply(lambda x: np.int64(x))

In [1014]:
ssot['Overall Satisfaction Rating'] = ssot['Overall Satisfaction Rating']\
.apply(lambda x: np.int64(x))

In [1023]:
# Some error correction
ssot = ssot.drop(columns=['Net Promoter Score'])

In [1024]:
ssot['Net Promoter Status'] = ssot['Overall Satisfaction Rating']\
.apply(lambda num: 'Promoter' if num==10 or num==9 \
      else ('Passive' if num==8 or num==7 \
           else ('Detractor' if num<7 and num>0 else 'None')))

### Behold the Single Source of Truth! (well, part of it)

In [1029]:
ssot.head()

,Year,Week,Track,Location,Schedule Pace Rating,Overall Satisfaction Rating,Net Promoter Status
0,2016,Week 1,NaN,Los Angeles,8,6,Detractor
1,2016,Week 1,NaN,Los Angeles,8,8,Passive
2,2016,Week 1,NaN,Los Angeles,8,8,Passive
3,2016,Week 1,NaN,Los Angeles,8,8,Passive
4,2016,Week 1,NaN,Los Angeles,10,8,Passive

In [1031]:
# Save ssot dataframe for access in other files
ssot.to_pickle('./ssot.pkl')