In [1]:
from scipy import stats
import math
import csv
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
cd CSVs

/Users/cherishkim/Code/school_projects/DS11/Assignments/DS/NPS Project/SA/CSVs

# Step 1: Clean and merge 2016 data from weeks 1-7 only.

In [8]:
LA1 = pd.read_csv("Anon Week 1 Feedback - LA.csv")

In [9]:
LA1 = LA1.drop(columns=['Timestamp'])

In [10]:
LA1 = LA1.rename(index=str, columns={"How well are the tutorials paced?": "How would you rate the curriculum pace?"})

In [11]:
LA1.insert(0, 'Location', 'Los Angeles')
LA1.insert(1, 'Week', 'Week 1')

In [12]:
NY1 = pd.read_csv("Anon Week 1 Feedback - NY.csv")

In [13]:
NY1 = NY1.drop(columns=['Timestamp'])

In [14]:
NY1 = NY1.rename(index = str, columns={'How well are the tutorials paced?': 'How would you rate the curriculum pace?', 'What track are you in?': 'Track'})

In [15]:
NY1.insert(0, 'Location', 'New York City')
NY1.insert(1, 'Week', 'Week 1')

In [16]:
SF1 = pd.read_csv("Anon Week 1 Feedback - SF.csv")

In [17]:
SF1 = SF1.drop(columns=['Timestamp'])

In [18]:
SF1 = SF1.rename(index=str, columns={'How well are the tutorials paced?': 'How would you rate the curriculum pace?', 'What track are you in?': 'Track'})

In [19]:
SF1.insert(0, 'Location', 'San Francisco')
SF1.insert(1, 'Week', 'Week 1')

In [20]:
SG1 = pd.read_csv("Anon Week 1 Feedback - Singapore.csv")

In [21]:
SG1 = SG1.drop(columns=['Timestamp'])

In [22]:
SG1 = SG1.rename(index=str, columns={'How well are the tutorials paced?': 'How would you rate the curriculum pace?'})

In [23]:
SG1.insert(0, 'Location', 'Singapore')
SG1.insert(1, 'Week', 'Week 1')

In [24]:
SV1 = pd.read_csv("Anon Week 1 Feedback - SV.csv")

In [25]:
SV1 = SV1.drop(columns=['Unnamed: 0'])

In [26]:
SV1 = SV1.rename(index=str, columns={'What track are you in?': 'Track', 'How well are the tutorials paced?': 'How would you rate the curriculum pace?'})

In [27]:
SV1.insert(0, 'Location', 'Sunnyvale')
SV1.insert(1, 'Week', 'Week 1')

In [28]:
LA2 = pd.read_csv("Anon Week 2 Feedback - LA.csv")

In [29]:
LA2 = LA2.drop(columns=['Timestamp'])

In [30]:
LA2 = LA2.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [31]:
LA2.insert(0, 'Location', 'Los Angeles')
LA2.insert(1, 'Week', 'Week 2')

In [32]:
NY2 = pd.read_csv("Anon Week 2 Feedback - NY.csv")

In [33]:
NY2 = NY2.drop(columns=['Timestamp'])

In [34]:
NY2 = NY2.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [35]:
NY2.insert(0, 'Location', 'New York City')
NY2.insert(1, 'Week', 'Week 2')

In [36]:
SF2 = pd.read_csv("Anon Week 2 Feedback - SF.csv")

In [37]:
SF2 = SF2.drop(columns=['Timestamp'])

In [38]:
SF2 = SF2.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [39]:
SF2.insert(0, 'Location', 'San Francisco')
SF2.insert(1, 'Week', 'Week 2')

In [40]:
SG2 = pd.read_csv("Anon Week 2 Feedback - SG.csv")

In [41]:
SG2 = SG2.drop(columns=['Timestamp'])

In [42]:
SG2 = SG2.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [43]:
SG2.insert(0, 'Location', 'Singapore')
SG2.insert(1, 'Week', 'Week 2')

In [44]:
SV2 = pd.read_csv("Anon Week 2 Feedback - SV.csv")

In [45]:
SV2 = SV2.drop(columns=['Timestamp'])

In [46]:
SV2 = SV2.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [47]:
SV2.insert(0, 'Location', 'Sunnyvale')
SV2.insert(1, 'Week', 'Week 2')

In [48]:
LA3 = pd.read_csv("Anon Week 3 Feedback - LA.csv")

In [49]:
LA3 = LA3.drop(columns='Timestamp')

In [50]:
LA3 = LA3.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [51]:
LA3.insert(0, 'Location', 'Los Angeles')
LA3.insert(1, 'Week', 'Week 3')

In [52]:
NY3 = pd.read_csv("Anon Week 3 Feedback - NY.csv")

In [53]:
NY3 = NY3.drop(columns=['Timestamp'])

In [54]:
NY3 = NY3.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?', 'What track are you in?': 'Track'})

In [55]:
NY3.insert(0, 'Location', 'New York City')
NY3.insert(1, 'Week', 'Week 3')

In [56]:
SF3 = pd.read_csv("Anon Week 3 Feedback - SF.csv")

In [57]:
SF3 = SF3.drop(columns=['Timestamp'])

In [58]:
SF3 = SF3.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [59]:
SF3.insert(0, 'Location', 'San Francisco')
SF3.insert(1, 'Week', 'Week 3')

In [60]:
SG3 = pd.read_csv("Anon Week 3 Feedback - SG.csv")

In [61]:
SG3 = SG3.drop(columns=['Timestamp'])

In [62]:
SG3 = SG3.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [63]:
SG3.insert(0, 'Location', 'Singapore')
SG3.insert(1, 'Week', 'Week 3')

In [64]:
SV3 = pd.read_csv("Anon Week 3 Feedback - SV.csv")

In [65]:
SV3 = SV3.drop(index=[33], columns=['Timestamp'])

In [66]:
SV3 = SV3.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [67]:
SV3.insert(0, 'Location', 'Sunnyvale')
SV3.insert(1, 'Week', 'Week 3')

In [68]:
SV3['How would you rate the curriculum pace?'] = SV3['How would you rate the curriculum pace?'].apply(lambda x: np.int64(x))

In [69]:
SV3['How would you rate your overall satisfaction with the Summer Academy this week?'] = SV3['How would you rate your overall satisfaction with the Summer Academy this week?'].apply(lambda x: np.int64(x))

In [70]:
LA4 = pd.read_csv("Anon Week 4 Feedback - LA.csv")

In [71]:
LA4 = LA4.drop(columns=['Timestamp'])

In [72]:
LA4 = LA4.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [73]:
LA4.insert(0, 'Location', 'Los Angeles')
LA4.insert(1, 'Week', 'Week 4')

In [74]:
NY4 = pd.read_csv("Anon Week 4 Feedback - NY.csv")

In [75]:
NY4 = NY4.drop(columns=['Timestamp'])

In [76]:
NY4 = NY4.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [77]:
NY4.insert(0, 'Location', 'New York City')
NY4.insert(1, 'Week', 'Week 4')

In [78]:
SF4 = pd.read_csv("Anon Week 4 Feedback - SF.csv")

In [79]:
SF4 = SF4.drop(columns=['Timestamp'])

In [80]:
SF4 = SF4.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [81]:
SF4.insert(0, 'Location', 'San Francisco')
SF4.insert(1, 'Week', 'Week 4')

In [82]:
SG4 = pd.read_csv("Anon Week 4 Feedback - SG.csv")

In [83]:
SG4 = SG4.drop(columns=['Timestamp'])

In [84]:
SG4 = SG4.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [85]:
SG4.insert(0, 'Location', 'Singapore')
SG4.insert(1, 'Week', 'Week 4')

In [86]:
SV4 = pd.read_csv("Anon Week 4 Feedback - SV.csv")

In [87]:
SV4 = SV4.drop(columns=['Timestamp'])

In [88]:
SV4 = SV4.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [89]:
SV4.insert(0, 'Location', 'Sunnyvale')
SV4.insert(1, 'Week', 'Week 4')

In [90]:
HK1 = pd.read_csv("Anon Week 5 Feedback - HK.csv")

In [91]:
HK1 = HK1.drop(columns=['Timestamp'])

In [92]:
HK1 = HK1.rename(index=str, columns={'How well are the tutorials paced?': 'How would you rate the curriculum pace?'})

In [93]:
HK1.insert(0, 'Location', 'Hong Kong')
HK1.insert(1, 'Week', 'Week 5')

In [94]:
LA5 = pd.read_csv("Anon Week 5 Feedback - LA.csv")

In [95]:
LA5 = LA5.drop(columns=['Timestamp'])

In [96]:
LA5 = LA5.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [97]:
LA5.insert(0, 'Location', 'Los Angeles')
LA5.insert(1, 'Week', 'Week 5')

In [98]:
NY5 = pd.read_csv("Anon Week 5 Feedback - NY.csv")

In [99]:
NY5 = NY5.drop(columns=['Timestamp'])

In [100]:
NY5 = NY5.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [101]:
NY5.insert(0, 'Location', 'New York City')
NY5.insert(1, 'Week', 'Week 5')

In [102]:
SF5 = pd.read_csv("Anon Week 5 Feedback - SF.csv")

In [103]:
SF5 = SF5.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [104]:
SF5.insert(0, 'Location', 'San Francisco')
SF5.insert(1, 'Week', 'Week 5')

In [105]:
SG5 = pd.read_csv("Anon Week 5 Feedback - SG.csv")

In [106]:
SG5 = SG5.drop(columns=['Timestamp'])

In [107]:
SG5 = SG5.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [108]:
SG5.insert(0, 'Location', 'Singapore')
SG5.insert(1, 'Week', 'Week 5')

In [109]:
SV5 = pd.read_csv("Anon Week 5 Feedback - SV.csv")

In [110]:
SV5 = SV5.drop(columns=['Timestamp'])

In [111]:
SV5 = SV5.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [112]:
SV5.insert(0, 'Location', 'Sunnyvale')
SV5.insert(1, 'Week', 'Week 5')

In [113]:
HK2 = pd.read_csv("Anon Week 6 Feedback - HK.csv")

In [114]:
HK2 = HK2.drop(columns=['Timestamp'])

In [115]:
HK2 = HK2.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [116]:
HK2.insert(0, 'Location', 'Hong Kong')
HK2.insert(1, 'Week', 'Week 6')

In [117]:
LA6 = pd.read_csv("Anon Week 6 Feedback - LA.csv")

In [118]:
LA6 = LA6.drop(columns=['Timestamp'])

In [119]:
LA6 = LA6.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [120]:
LA6.insert(0, 'Location', 'Los Angeles')
LA6.insert(1, 'Week', 'Week 6')

In [121]:
NY6 = pd.read_csv("Anon Week 6 Feedback - NY.csv")

In [122]:
NY6 = NY6.drop(columns=['Timestamp'])

In [123]:
NY6 = NY6.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [124]:
NY6.insert(0, 'Location', 'New York City')
NY6.insert(1, 'Week', 'Week 6')

In [125]:
SF6 = pd.read_csv("Anon Week 6 Feedback - SF.csv")

In [126]:
SF6 = SF6.drop(columns=['Timestamp'])

In [127]:
SF6 = SF6.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [128]:
SF6.insert(0, 'Location', 'San Francisco')
SF6.insert(1, 'Week', 'Week 6')

In [129]:
SG6 = pd.read_csv("Anon Week 6 Feedback - SG.csv")

In [130]:
SG6 = SG6.drop(columns=['Timestamp'])

In [131]:
SG6 = SG6.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [132]:
SG6.insert(0, 'Location', 'Singapore')
SG6.insert(1, 'Week', 'Week 6')

In [133]:
SV6 = pd.read_csv("Anon Week 6 Feedback - SV.csv")

In [134]:
SV6 = SV6.drop(columns=['Timestamp'])

In [135]:
SV6 = SV6.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [136]:
SV6.insert(0, 'Location', 'Sunnyvale')
SV6.insert(1, 'Week', 'Week 6')

In [137]:
Taipei1 = pd.read_csv("Anon Week 6 Feedback - Taipei.csv")

In [138]:
Taipei1 = Taipei1.drop(columns=['Timestamp'])

In [139]:
Taipei1 = Taipei1.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [140]:
Taipei1.insert(0, 'Location', 'Taipei')
Taipei1.insert(1, 'Week', 'Week 6')

In [141]:
Tokyo1 = pd.read_csv("Anon Week 6 Feedback - Tokyo.csv")

In [142]:
Tokyo1 = Tokyo1.drop(columns=['Timestamp'])

In [143]:
Tokyo1 = Tokyo1.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [144]:
Tokyo1.insert(0, 'Location', 'Tokyo')
Tokyo1.insert(1, 'Week', 'Week 6')

In [145]:
LA7 = pd.read_csv("Anon Week 7 Feedback - LA.csv")

In [146]:
LA7 = LA7.drop(columns=['Timestamp'])

In [147]:
LA7 = LA7.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [148]:
LA7.insert(0, 'Location', 'Los Angeles')
LA7.insert(1, 'Week', 'Week 7')

In [149]:
NY7 = pd.read_csv("Anon Week 7 Feedback - NY.csv")

In [150]:
NY7 = NY7.drop(columns=['Timestamp'])

In [151]:
NY7 = NY7.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [152]:
NY7.insert(0, 'Location', 'New York City')
NY7.insert(1, 'Week', 'Week 7')

In [153]:
SF7 = pd.read_csv("Anon Week 7 Feedback - SF.csv")

In [154]:
SF7 = SF7.drop(columns=['Timestamp'])

In [155]:
SF7 = SF7.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [156]:
SF7.insert(0, 'Location', 'San Francisco')
SF7.insert(1, 'Week', 'Week 7')

In [157]:
SV7 = pd.read_csv("Anon Week 7 Feedback - SV.csv")

In [158]:
SV7 = SV7.drop(columns='Timestamp')

In [159]:
SV7 = SV7.rename(index=str, columns={'What track are you in?': 'Track', 'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [160]:
SV7.insert(0, 'Location', 'Sunnyvale')
SV7.insert(1, 'Week', 'Week 7')

In [161]:
Taipei2 = pd.read_csv("Anon Week 7 Feedback - Taipei.csv")

In [162]:
Taipei2 = Taipei2.drop(columns=['Timestamp'])

In [163]:
Taipei2 = Taipei2.rename(index=str, columns={'How well is the schedule paced?': 'How would you rate the curriculum pace?'})

In [164]:
Taipei2.insert(0, 'Location', 'Taipei')
Taipei2.insert(1, 'Week', 'Week 7')

### Finally putting it all together

In [165]:
step1 = [LA1, NY1, SF1, SG1, SV1, LA2, NY2, SF2, SG2, SV2, LA3, NY3, SF3, SG3, SV3, LA4, NY4, SF4, SG4, SV4, HK1, LA5, NY5, SF5, SG5, SV5, HK2, LA6, NY6, SF6, SG6, SV6, Taipei1, Tokyo1, LA7, NY7, SF7, SV7, Taipei2]
results1 = pd.concat(step1, ignore_index=True, sort=False)

In [166]:
results1 = results1.rename(index=str, columns={'How would you rate your overall satisfaction with the Summer Academy this week?': 'Overall Satisfaction Rating', 'How would you rate the curriculum pace?': 'Schedule Pace Rating'})

In [167]:
results1['Net Promoter Score'] = results1['Overall Satisfaction Rating'].apply(lambda num: 'Promoter' if num==5 else ('Passive' if num==4 else 'Detractor'))
# another way:
# # results1['Net Promoter Score'] = ['Promoter' if num==5 else ('Passive' if num==4 else 'Detractor') for num in results1['Overall Satisfaction Rating']]

In [168]:
# Double ratings in order to get scores out of 10
results1['Overall Satisfaction Rating'] = results1[['Overall Satisfaction Rating']].apply(lambda x: x*2)
results1['Schedule Pace Rating'] = results1[['Schedule Pace Rating']].apply(lambda x: x*2)

In [169]:
results1.head()

,Location,Week,Overall Satisfaction Rating,Schedule Pace Rating,Track,Net Promoter Score
0,Los Angeles,Week 1,6,8,NaN,Detractor
1,Los Angeles,Week 1,8,8,NaN,Passive
2,Los Angeles,Week 1,8,8,NaN,Passive
3,Los Angeles,Week 1,8,8,NaN,Passive
4,Los Angeles,Week 1,8,10,NaN,Passive

# Step 2: Clean the 2016 data from week 8.

In [170]:
week8 = pd.read_csv('Week 8 Feedback (2016, incomplete) - results.csv')

In [171]:
week8 = week8.drop(columns=['#', 'Start Date (UTC)', 'Submit Date (UTC)', 'Network ID'])

In [172]:
week8 = week8.rename(index=str, columns={'location': 'Location', 'track': 'Track', 'How likely is it that you would recommend the Make School Summer Academy to a friend?': 'Overall Satisfaction Rating'})

In [173]:
week8.insert(0, 'Week', 'Week 8')

In [174]:
week8['Net Promoter Score'] = week8['Overall Satisfaction Rating'].apply(lambda num: 'Promoter' if num==9 or num==10 else ('Passive' if num==8 or num==7 else 'Detractor'))

In [175]:
week8['Track'] = week8['Track'].str.slice(start=6) #Remove "summer" from the track names

# another way:
## week8.loc[week8['Track'] == 'summerApps', 'Track'] = 'Apps'

In [176]:
week8.head()

,Week,Overall Satisfaction Rating,Location,Track,Net Promoter Score
0,Week 8,10,New York,Apps,Promoter
1,Week 8,10,San Francisco,Intro,Promoter
2,Week 8,10,New York,Intro,Promoter
3,Week 8,9,Sunnyvale,Apps (4-week),Promoter
4,Week 8,3,San Francisco,Intro,Detractor

# Step 3: Merge the dataframes from weeks 1-7 and from week 8 of 2016 into a full 2016 dataframe.

In [177]:
step3 = [results1, week8]
all2k16 = pd.concat(step3, ignore_index=True, sort=False)

In [178]:
all2k16.insert(0, 'Year', '2016')

In [179]:
all2k16.head()

,Year,Location,Week,Overall Satisfaction Rating,Schedule Pace Rating,Track,Net Promoter Score
0,2016,Los Angeles,Week 1,6,8.0,NaN,Detractor
1,2016,Los Angeles,Week 1,8,8.0,NaN,Passive
2,2016,Los Angeles,Week 1,8,8.0,NaN,Passive
3,2016,Los Angeles,Week 1,8,8.0,NaN,Passive
4,2016,Los Angeles,Week 1,8,10.0,NaN,Passive

# Step 4: Clean the 2017 data independently of 2016.

In [180]:
all2k17 = pd.read_csv("Student Feedback Surveys-Superview.csv")

In [181]:
# Removing rows 1310, 1322, 1411 because in lieu of nulls, they say "#ERROR!"
all2k17 = all2k17.drop(index=[1310, 1322, 1411], columns=['ID'])

In [182]:
all2k17 = all2k17.rename(index=str, columns={'Rating (Num)': 'Overall Satisfaction Rating', \
                                             'Schedule Pacing': 'Schedule Pace Rating'})

In [183]:
all2k17.insert(0, 'Year', '2017')

In [184]:
all2k17['Net Promoter Score'] = ['Promoter' if num=='10' or num=='9' else \
                ('Passive' if num=='8' or num=='7' else 'Detractor') \
                                 for num in all2k17['Overall Satisfaction Rating']]

In [185]:
all2k17['Schedule Pace Rating'] = ['10' if speed=='Just right' else \
                ('8' if speed=='A little too fast' or speed=='A little too slow' else '3') \
                                  for speed in all2k17['Schedule Pace Rating']]

In [186]:
all2k17.head()

,Year,Location,Track,Week,Overall Satisfaction Rating,Schedule Pace Rating,Net Promoter Score
0,2017,San Francisco,"Apps, Explorer",Week 1,3,10,Detractor
1,2017,Los Angeles,Apps,Week 1,4,8,Detractor
2,2017,San Francisco,Games,Week 1,4,3,Detractor
3,2017,NaN,NaN,Week 2,4,8,Detractor
4,2017,New York City,"Apps, Explorer",Week 1,4,10,Detractor

# Step 5: Merge the (full!) 2016 and 2017 datasets into a cumulative dataset.

In [200]:
# Time to merge.
step5 = [all2k16, all2k17]
ssot = pd.concat(step5, ignore_index=True, sort=False) #acronym for Single Source of Truth

In [201]:
# Reorder columns
ssot = ssot[['Year', 'Week', 'Track', 'Location', 'Schedule Pace Rating', 'Overall Satisfaction Rating', 'Net Promoter Score']]

In [202]:
ssot['Schedule Pace Rating'] = ssot['Schedule Pace Rating'].fillna(0).astype(str)

In [203]:
ssot['Schedule Pace Rating'] = ssot['Schedule Pace Rating']\
.apply(lambda x: np.int64(float(x)))

In [204]:
ssot['Overall Satisfaction Rating'] = ssot['Overall Satisfaction Rating']\
.apply(lambda x: np.int64(x))

In [206]:
# Some error correction
ssot = ssot.drop(columns=['Net Promoter Score'])

In [207]:
ssot['Net Promoter Status'] = ssot['Overall Satisfaction Rating']\
.apply(lambda num: 'Promoter' if num==10 or num==9 \
      else ('Passive' if num==8 or num==7 \
           else ('Detractor' if num<7 and num>0 else 'None')))

### Behold the Single Source of Truth! (well, part of it)

In [209]:
ssot.head()

,Year,Week,Track,Location,Schedule Pace Rating,Overall Satisfaction Rating,Net Promoter Status
0,2016,Week 1,NaN,Los Angeles,8,6,Detractor
1,2016,Week 1,NaN,Los Angeles,8,8,Passive
2,2016,Week 1,NaN,Los Angeles,8,8,Passive
3,2016,Week 1,NaN,Los Angeles,8,8,Passive
4,2016,Week 1,NaN,Los Angeles,10,8,Passive

In [210]:
# Save ssot dataframe for access in other files
ssot.to_pickle('./ssot.pkl')